<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-6">
            <div class="form-group m-form__group">
                <label> {{ 'CATALOG.KHOI_CO_QUAN.TITLE' | translate }} </label>
                <asc-select [modeOfDropDowList]="dropdownListEnum.KHOI_CO_QUAN" [placeHolder]="'LB.SELECT' | translate"
                    formControlName="khoiCoQuanId"></asc-select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group m-form__group">
                <label> {{ 'LB.CATALOG.CODE' | translate }} </label>
                <input type="text" class="m-input form-control" formControlName="ma" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group m-form__group">
                <label> {{ 'LB.CATALOG.NAME' | translate }} </label>
                <input type="text" class="m-input form-control" formControlName="ten" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group m-form__group">
                <label>
                    {{ 'CATALOG.CO_QUAN.ADDRESS' | translate }}
                </label>
                <input type="text" class="m-input form-control" formControlName="diaChi" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group m-form__group">
                <label>
                    {{ 'CATALOG.CO_QUAN.SHORTNAME' | translate }}
                </label>
                <input type="text" class="m-input form-control" formControlName="tenVietTat" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group m-form__group">
                <label>
                    {{ 'CATALOG.CO_QUAN.PHONE' | translate }}
                </label>
                <input type="text" class="m-input form-control" formControlName="soDienThoai" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group m-form__group">
                <label>
                    {{ 'CATALOG.CO_QUAN.FAX' | translate }}
                </label>
                <input type="text" class="m-input form-control" formControlName="soFax" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group m-form__group">
                <label>
                    {{ 'CATALOG.CO_QUAN.EMAIL' | translate }}
                </label>
                <input type="text" class="m-input form-control" formControlName="emailLienHe" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group m-form__group">
                <label>
                    {{ 'LB.CATALOG.ORDER' | translate }}
                </label>
                <div class="row">
                    <div class="col-lg-6">
                        <nz-input-number [nzMin]="1" [nzStep]="1" formControlName="stt" style="width: 100%">
                        </nz-input-number>
                    </div>
                    <div class="col-lg-6">
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox">
                                <input type="checkbox" formControlName="isVisible" />
                                {{ 'LB.CATALOG.VISIBLE' | translate }}
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group m-form__group">
                <label>
                    {{ 'LB.NOTE' | translate }}
                </label>
                <textarea class="form-control" formControlName="ghiChu"></textarea>
            </div>
        </div>
    </div>
    <div class="text-right border-form-footer">
        <button type="button" (click)="closeForm()" class="btn_custom btn_remove btn_close mr-1">{{ 'BTN.CANCEL' |
            translate }}</button>
        <button type="submit" class="btn_custom btn_add">{{ 'BTN.SAVE' | translate }}</button>
    </div>
</form>