<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">

        <div class="col-sm-12">
            <div class="form-group m-form__group">
                <label>
                    {{ 'PTN.DK.TRANG_THAI' | translate }}
                </label>
                <div>
                    <asc-select
                    [modeOfDropDowList]="dropdownListEnum.TRANG_THAI_DANG_KY_PTN"
                    [placeHolder]="'LB.SELECT' | translate"
                    formControlName="idTrangThaiDangKy"
                ></asc-select>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group m-form__group">
                <label>
                    {{ 'PTN.DK.GHI_CHU' | translate }}
                </label>
                <div>
                    <textarea class="form-control" formControlName="ghiChu"></textarea>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group m-form__group">
                <label>
                    {{ 'LB.ATTACH_FILE' | translate }}
                </label>
                <ptn-upload
                    [folderName]="folder.PTN_PHONG_THI_NGHIEM"
                    (fileInput)="onSelectFile($event)"
                    [file]="fileInput"
                    [multiple]="false"
                >
                </ptn-upload>
            </div>
        </div>

    </div>

    <div class="text-right border-form-footer">
        <button type="button" (click)="closeForm()" class="btn_custom btn_df mr-1">{{ 'BTN.CANCEL' | translate }}</button>
        <button type="submit" class="btn_custom btn_add">{{ 'BTN.SAVE' | translate }}</button>
    </div>
</form>
