<div class="search-backdrop" (click)="searchAdvanced()"></div>
<div class="m-portlet m-portlet--mobile mb-0">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption m-portlet__head-caption-title">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ tabName }}
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-caption">
            <div class="m-input-icon m-input-icon--left m-input-icon--right dropdown-search-advance">
                <input
                    type="text"
                    class="form-control m-input"
                    [placeholder]="'LB.SEARCH_PLACEHOLDER' | translate"
                    [(ngModel)]="modelSearch.keyword"
                    (keyup.enter)="onSearchChange()"
                />
                <span class="m-input-icon__icon m-input-icon__icon--left">
                    <span>
                        <i class="la la-search"></i>
                    </span>
                </span>
                <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span (click)="searchAdvanced()" class="dropbtn-search-advance">
                        <i class="la la-caret-down"></i>
                    </span>
                </span>
                <div class="dropdown-content-search-advance"
                     [ngClass]="this.searchAdvance ? 'show-search-advance' : ''">
                    <div class="custom-search-advance m-form">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label"> Từ khóa </label>
                            <div class="col-lg-8">
                                <div class="m-input-icon m-input-icon--left">
                                    <input
                                        type="text"
                                        class="form-control m-input m-input--solid"
                                        placeholder="{{ 'BTN.SEARCH' | translate }}"
                                        id="generalSearch"
                                        [(ngModel)]="modelSearch.keyword"
                                    />
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">
                                {{ 'SURVEY.DOT_DANH_GIA.TIME' | translate }}
                            </label>
                            <div class="col-lg-8">
                                <div>
                                    <nz-date-picker
                                        [(ngModel)]="modelSearch.tuNgay"
                                        nzFormat="dd/MM/yyyy"
                                        [nzPlaceHolder]="'LB.DATE_FROM' | translate"
                                    >
                                    </nz-date-picker>
                                    <label>&nbsp;</label>
                                    <nz-date-picker
                                        [(ngModel)]="modelSearch.denNgay"
                                        nzFormat="dd/MM/yyyy"
                                        [nzPlaceHolder]="'LB.DATE_TO' | translate"
                                    ></nz-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">
                                {{ 'LB.YEAR' | translate }}
                            </label>
                            <div class="col-lg-8">
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.NAM"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    [(ngModel)]="modelSearch.nam"
                                >
                                </asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">
                                {{ 'SURVEY.DOT_DANH_GIA.TYPE' | translate }}
                            </label>
                            <div class="col-lg-8">
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.QUY"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    [(ngModel)]="modelSearch.quy"
                                >
                                </asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row text-right">
                            <div class="col-12 text-right">
                                <div class="btn-actions">
                                    <button type="button" class="btn_custom btn_add mr-1" (click)="onSearchChange()">
                                        <span class="text">
                                            {{ 'BTN.SEARCH' | translate }}
                                        </span>
                                    </button>
                                    <button type="button" class="btn_custom btn_df" (click)="refreshHandler()">
                                        <span class="text">
                                            {{ 'BTN.RESET' | translate }}
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item" *ngIf="roles.isCreate">
                    <button class="btn_custom btn_add" (click)="addHandler()">
                        <div [innerHTML]="'plus.svg' | vnuIcon | safeHtml: 'html'"></div>
                        <span class="text">{{ 'BTN.ADD' | translate }}</span>
                    </button>
                </li>
                <li class="m-portlet__nav-item" *ngIf="roles.isDelete">
                    <button class="btn_custom btn_remove" (click)="removeSelectedHandler()"
                            [disabled]="selectionIds.length < 1">
                        <div [innerHTML]="'trash.svg' | vnuIcon | safeHtml: 'html'"></div>
                        <span class="text">{{ 'BTN.DELETE' | translate }}</span>
                    </button>
                </li>
                <li class="m-portlet__nav-item">
                    <button class="btn_custom btn_df" (click)="onExportExcel()">
                        <div [innerHTML]="'download.svg' | vnuIcon | safeHtml: 'html'"></div>
                        <span class="text">{{ 'BTN.EXCEL' | translate }}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="grid-wrapper" [ngStyle]="{ 'height.px': pageHeight }">
            <kendo-grid
                [data]="gridView$ | async"
                [loading]="isLoading"
                [pageSize]="gridState.take"
                [skip]="gridState.skip"
                [pageable]="pageConfig"
                [resizable]="true"
                [columnMenu]="false"
                [sortable]="true"
                [sort]="gridState.sort"
                [selectable]="true"
                kendoGridSelectBy="dotDanhGiaId"
                [selectedKeys]="selectionIds"
                (dataStateChange)="onStateChange($event)"
                [style.height]="'100%'"
            >
                <kendo-grid-checkbox-column showSelectAll="true" width="45"
                                            [columnMenu]="false"></kendo-grid-checkbox-column>
                <kendo-grid-column
                    [title]="'LB.ACTION' | translate"
                    class="text-center"
                    width="70"
                    [columnMenu]="false"
                    *ngIf="roles.isUpdate || roles.isDelete"
                    [headerStyle]="{'text-align': 'center'}"
                >
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <ng-container *ngIf="roles.isUpdate || roles.isDelete; else btnDisabled">
                            <nz-button-group>
                                <button nz-button nz-dropdown class="btn-light" [nzDropdownMenu]="menu"
                                        nzPlacement="right">
                                    <div [innerHTML]="'commode1.svg' | vnuIcon | safeHtml: 'html'"></div>
                                </button>
                            </nz-button-group>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <div class="m-dropdown__wrapper menu-dropdown-table">
                                    <span
                                        class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            {{ 'LB.ACTION' | translate }}
                                                        </span>
                                                    </li>
                                                    <li class="m-nav__item" *ngIf="roles.isUpdate">
                                                        <a href="javascript:void(0)" (click)="editHandler(dataItem)"
                                                           class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                            <span class="m-nav__link-text">
                                                                {{ 'BTN.EDIT' | translate }}
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item" *ngIf="roles.isUpdate">
                                                        <a href="javascript:void(0)" (click)="activeHandler(dataItem)"
                                                           class="m-nav__link">
                                                            <ng-container
                                                                *ngIf="dataItem.isKichHoat; else other_content">
                                                                <i class="m-nav__link-icon flaticon-interface-1"></i>
                                                                <span class="m-nav__link-text">
                                                                    {{ 'SURVEY.DOT_DANH_GIA.NO_ACTIVE' | translate }}
                                                                </span>
                                                            </ng-container>
                                                            <ng-template #other_content>
                                                                <i class="m-nav__link-icon flaticon-interface-1"></i>
                                                                <span class="m-nav__link-text">
                                                                    {{ 'SURVEY.DOT_DANH_GIA.ACTIVE' | translate }}
                                                                </span>
                                                            </ng-template>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item" *ngIf="roles.isDelete">
                                                        <a href="javascript:void(0)" (click)="removeHandler(dataItem)"
                                                           class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-delete-1"></i>
                                                            <span class="m-nav__link-text">
                                                                {{ 'BTN.DELETE' | translate }}
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nz-dropdown-menu>
                        </ng-container>

                        <ng-template #btnDisabled>
                            <div class="text-center">
                                <button nz-button class="btn-disabled">
                                    <div [innerHTML]="'commode1.svg' | vnuIcon | safeHtml: 'html'"></div>
                                </button>
                            </div>
                        </ng-template>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [title]="'LB.STT' | translate" width="50" [columnMenu]="false"
                                   [headerStyle]="{'text-align': 'center'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="text-center">
                            {{ rowIndex + 1 }}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="nam" width="55" [title]="'LB.YEAR' | translate"
                                   [headerStyle]="{'text-align': 'center'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="text-center">
                            {{ dataItem.nam }}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="quy" width="60" [title]="'SURVEY.DOT_DANH_GIA.QUARTER' | translate"
                                   [headerStyle]="{'text-align': 'center'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="text-center">
                            {{ dataItem.quy | quy }}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="tenDotDanhGia" width="300"
                                   [title]="'SURVEY.DOT_DANH_GIA.NAME' | translate"></kendo-grid-column>
                <kendo-grid-column
                    field="soLuongNhanSu"
                    width="80"
                    class="text-center"
                    [title]="'SURVEY.DOT_DANH_GIA.HUMAN' | translate"
                    [sortable]="false"
                    [headerStyle]="{'text-align': 'center'}"
                >
                </kendo-grid-column>
                <kendo-grid-column [title]="'SURVEY.DOT_DANH_GIA.DATE' | translate" width="200" [headerStyle]="{'text-align': 'center'}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="text-center">{{ dataItem.tuNgay | date: 'dd/MM/yyyy' }} - {{ dataItem.denNgay | date: 'dd/MM/yyyy' }}</div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="isKichHoat" width="120" [title]="'SURVEY.DOT_DANH_GIA.ACTIVE' | translate"
                                   [sortable]="false" [headerStyle]="{'text-align': 'center'}">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="text-center" *ngIf="dataItem.isKichHoat">
                            <span class="label_Visible">
                                {{ 'SURVEY.DOT_DANH_GIA.ACTIVE' | translate }}
                            </span>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="ghiChu" width="300" [title]="'LB.NOTE' | translate"
                                   [sortable]="false"></kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>
<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>
