<kendo-splitter orientation="horizontal" style="height: 100%">
    <kendo-splitter-pane size="35%" style="overflow: hidden">
        <div class="m-portlet m-portlet--mobile mb-0 tt-tap-su">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption m-portlet__head-caption-title">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            {{ tabName }}
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="block"></div>
                <div class="grid-wrapper grid-wrapper-border" [ngStyle]="{ 'height.px': pageHeight }">
                    <kendo-grid 
                      [data]="gridViewTTTS" 
                      [pageSize]="gridStateTTTS.take" 
                      [skip]="gridStateTTTS.skip"
                      [loading]="isLoadingTTTS"  
                      [resizable]="true" 
                      [columnMenu]="false"
                      [sortable]="true" 
                      [sort]="gridStateTTTS.sort" 
                      [style.height]="'100%'" 
                      [selectable]="true"
                      (cellClick)="selectRow($event)" 
                      >
                      <kendo-grid-column [title]="'LB.STT' | translate" width="60" [columnMenu]="false" [headerStyle]="{'text-align': 'center'}">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                              <div class="text-center">
                                  {{ rowIndex + 1 }}
                              </div>
                          </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column [title]="'RECRUITMENT.TAP_SU.SO_QUYET_DINH' | translate" [width]="150" [columnMenu]="false">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                              {{ dataItem.soQuyetDinh }}
                          </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column [title]="'RECRUITMENT.TAP_SU.NGUOI_TAP_SU' | translate" [width]="180" [columnMenu]="false">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                              {{ dataItem.hoDemTapSu + ' ' + dataItem.tenTapSu}}
                          </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column [title]="'RECRUITMENT.TAP_SU.SO_LUONG_BAO_CAO' | translate" [width]="150" [columnMenu]="false">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                              {{ dataItem.soLuong }}
                          </ng-template>
                      </kendo-grid-column>
                  </kendo-grid>
                </div>
            </div>
        </div>
    </kendo-splitter-pane>
    <kendo-splitter-pane style="overflow: hidden">
        <div class="m-portlet m-portlet--mobile mb-0">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption m-portlet__head-caption-title" style="width: 60% !important"></div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <!-- <li class="m-portlet__nav-item">
                          <button class="btn_custom btn_add" (click)="openBaoCaoTapSu()">
                              <div [innerHTML]="'plus.svg' | vnuIcon | safeHtml: 'html'"></div>
                              <span class="text">{{ 'RECRUITMENT.TAP_SU.DANH_GIA' | translate }}</span>
                          </button>
                      </li> -->
                      <!-- <li class="m-portlet__nav-item">
                          <button class="btn_custom btn_df">
                              <div [innerHTML]="'download.svg' | vnuIcon | safeHtml: 'html'"></div>
                              <span class="text">{{ 'BTN.EXCEL' | translate }}</span>
                          </button>
                      </li> -->
                  </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet__head-tools">
                    <div class="box-search-body px-3">
                        <div class="pt-3 row">
                            <div class="col-3">
                                <div class="m-portlet__nav-item">
                                    <div class="form-group m-form__group">
                                        <label></label>
                                        <label>{{ 'LB.SEARCH' | translate }}</label>
                                        <div class="m-input-icon m-input-icon--left m-input-icon--right dropdown-search-advance">
                                            <input
                                                type="text"
                                                class="form-control m-input"
                                                [placeholder]="'LB.SEARCH_PLACEHOLDER' | translate"
                                                [(ngModel)]="modelSearchBaoCao.keyword"
                                                (keydown.enter)="onSearchBaoCaoHandler()"
                                            />
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="m-portlet__nav-item">
                                    <label></label>
                                    <label>
                                        {{ 'LB.STATUS' | translate }}
                                    </label>
                                    <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                        <nz-select
                                            nzShowSearch
                                            [nzPlaceHolder]="'LB.SELECT' | translate"
                                            nzAllowClear
                                            [(ngModel)]="modelSearchBaoCao.trangThai"
                                        >
                                            <nz-option
                                                [nzLabel]="'RECRUITMENT.TAP_SU.DAT' | translate"
                                                [nzValue]="trangThaiHopDongEnum.DAT"
                                            ></nz-option>
                                            <nz-option
                                                [nzLabel]="'RECRUITMENT.TAP_SU.GIA_HAN_THOI_GIAN_TAP_SU' | translate"
                                                [nzValue]="trangThaiHopDongEnum.GIA_HAN_THOI_GIAN_TAP_SU"
                                            ></nz-option>
                                            <nz-option
                                                [nzLabel]="'RECRUITMENT.TAP_SU.CHAM_DUT_HD' | translate"
                                                [nzValue]="trangThaiHopDongEnum.CHAM_DUT_HOP_DONG"
                                            ></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="m-portlet__nav-item">
                                    <label></label>
                                    <label> {{ 'RECRUITMENT.HD.THOI_GIAN_BAO_CAO' | translate }} </label>
                                    <div class="m-input-icon m-input-icon--left m-input-icon--right dropdown-search-advance d-flex">
                                        <nz-date-picker
                                            class="col-6"
                                            [nzDisabledDate]="disabledNgayBatDauBC"
                                            [(ngModel)]="modelSearchBaoCao.tuNgay"
                                            nzFormat="dd/MM/yyyy"
                                            [nzPlaceHolder]="'LB.DATE_FROM' | translate"
                                        >
                                        </nz-date-picker>
                                        <label>&nbsp;</label>
                                        <nz-date-picker
                                            class="col-6"
                                            [nzDisabledDate]="disabledNgayKetThucBC"
                                            [(ngModel)]="modelSearchBaoCao.denNgay"
                                            nzFormat="dd/MM/yyyy"
                                            [nzPlaceHolder]="'LB.DATE_TO' | translate"
                                        ></nz-date-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group m-form__group text-right">
                                    <label>&nbsp;</label>
                                    <div class="btn-actions">
                                        <button class="btn_custom btn_add mr-2" (click)="onSearchBaoCaoHandler()">
                                            <span class="text">{{ 'BTN.SEARCH' | translate }}</span>
                                        </button>
                                        <button class="btn_custom btn_df" (click)="resetHandler()">
                                            <span class="text">
                                                {{ 'BTN.RESET' | translate }}
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #template let-anchor>
                        <span>{{ anchor.nativeElement.innerText }}</span>
                    </ng-template>

                    <div kendoTooltip showOn="none" [tooltipTemplate]="template" filter=".k-grid td" (mouseover)="showTooltip($event)">
                        <div class="grid-wrapper no-hover grid-wrapper-border" [ngStyle]="{ 'height.px': pageHeight }">
                            <kendo-grid 
                              [data]="gridViewBaoCao$ | async" 
                              [pageSize]="gridStateBaoCao.take"
                              [skip]="gridStateBaoCao.skip" 
                              [loading]="isLoadingBaoCao" 
                              
                              [resizable]="true" 
                              [columnMenu]="true" 
                              [sortable]="true" 
                              [sort]="gridStateBaoCao.sort"
                              [style.height]="'100%'" 
                              kendoGridSelectBy="id" 
                              [selectedKeys]="selectionIds"
                              (dataStateChange)="onStateChange($event)" 
                              [selectable]="true"
                              >
                                <!-- <kendo-grid-checkbox-column showSelectAll="true" width="50" [columnMenu]="false"
                                    [headerStyle]="{'text-align': 'center'}" class="text-center">
                                </kendo-grid-checkbox-column> -->
                                <kendo-grid-column
                                    [title]="'LB.STT' | translate"
                                    width="60"
                                    [columnMenu]="false"
                                    [headerStyle]="{ 'text-align': 'center' }"
                                >
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <div class="text-center">
                                            {{ rowIndex + 1 }}
                                        </div>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column
                                    [title]="'LB.ACTION' | translate"
                                    class="text-center"
                                    width="90"
                                    [columnMenu]="false"
                                    [headerStyle]="{ 'text-align': 'center' }"
                                >
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <nz-button-group>
                                            <button nz-button nz-dropdown class="btn-light" [nzDropdownMenu]="menu" nzPlacement="right">
                                                <div [innerHTML]="'commode1.svg' | vnuIcon | safeHtml: 'html'"></div>
                                            </button>
                                        </nz-button-group>
                                        <nz-dropdown-menu #menu="nzDropdownMenu">
                                            <div class="m-dropdown__wrapper menu-dropdown-table w-min">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="m-nav">
                                                                <li class="m-nav__section m-nav__section--first">
                                                                    <span class="m-nav__section-text">
                                                                        {{ 'LB.ACTION' | translate }}
                                                                    </span>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a
                                                                        href="javascript:void(0)"
                                                                        class="m-nav__link"
                                                                        (click)="openBaoCaoTapSu(dataItem)"
                                                                    >
                                                                        <i class="m-nav__link-icon flaticon-list-1"></i>
                                                                        <span class="m-nav__link-text"
                                                                            >{{ 'RECRUITMENT.TAP_SU.DANH_GIA' | translate }}
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a
                                                                        href="javascript:void(0)"
                                                                        (click)="viewBaoCaoTapSu(dataItem)"
                                                                        class="m-nav__link"
                                                                    >
                                                                        <i class="m-nav__link-icon flaticon-list-1"></i>
                                                                        <span class="m-nav__link-text"
                                                                            >{{ 'RECRUITMENT.TAP_SU.XEM_BAO_CAO' | translate }}
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="javascript:void(0)" class="m-nav__link" (click)="onExportExcel(dataItem.id)" >
                                                                        <i class="m-nav__link-icon fa fa-print"></i>
                                                                        <span class="m-nav__link-text">
                                                                            {{ 'RECRUITMENT.TAP_SU.TAI_BAO_CAO' | translate }}
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nz-dropdown-menu>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column
                                    field="ngayNopBaoCao"
                                    [title]="'RECRUITMENT.TAP_SU.THOI_GIAN_NOP' | translate"
                                    [width]="130"
                                    [columnMenu]="false"
                                >
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.ngayNopBaoCao | date: 'dd/MM/yyyy' }}
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column
                                    field="nhanXet"
                                    [title]="'RECRUITMENT.TAP_SU.NHAN_XET' | translate"
                                    [width]="200"
                                    [columnMenu]="false"
                                    [sortable]="true"
                                >
                                </kendo-grid-column>
                                <kendo-grid-column
                                    field="deXuatKhac"
                                    [title]="'RECRUITMENT.TAP_SU.DE_XUAT' | translate"
                                    [width]="150"
                                    [columnMenu]="false"
                                >
                                </kendo-grid-column>
                                <kendo-grid-column
                                    field="ngayDanhGia"
                                    [title]="'RECRUITMENT.TAP_SU.NGAY_DANH_GIA' | translate"
                                    [headerStyle]="{ 'text-align': 'center' }"
                                    [width]="90"
                                    class="text-center"
                                    [columnMenu]="false"
                                >
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.ngayDanhGia | date: 'dd/MM/yyyy' }}
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column
                                    field="trangThai"
                                    [title]="'LB.STATUS' | translate"
                                    [width]="100"
                                    [columnMenu]="false"
                                    [sortable]="false"
                                >
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <div
                                            class="text-center"
                                            [ngClass]="
                                                dataItem.trangThai === trangThaiDanhGiaTapSuEnum.TAO_MOI
                                                    ? 'label_default'
                                                    : dataItem.trangThai === trangThaiDanhGiaTapSuEnum.DAT
                                                    ? 'label_success'
                                                    : dataItem.trangThai === trangThaiDanhGiaTapSuEnum.GIA_HAN_THOI_GIAN_TAP_SU
                                                    ? 'label_warning'
                                                    : dataItem.trangThai === trangThaiDanhGiaTapSuEnum.CHAM_DUT_HOP_DONG
                                                    ? 'label_error'
                                                    : ''
                                            "
                                        >
                                            {{ dataItem.tenTrangThai }}
                                        </div>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column
                                    field="file"
                                    [title]="'RECRUITMENT.TAP_SU.FILE' | translate"
                                    [width]="70"
                                    [columnMenu]="false"
                                >
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <ng-container *ngIf="dataItem.idFileDinhKem">
                                            <div class="text-center">
                                                <div
                                                    nz-popover
                                                    [nzPopoverTitle]="'LB.ATTACH_FILE' | translate"
                                                    [nzPopoverContent]="contentTemplate"
                                                    [innerHTML]="'selected-file.svg' | vnuIcon | safeHtml: 'html'"
                                                ></div>
                                            </div>
                                            <ng-template #contentTemplate>
                                                <a
                                                    href="javascript:void(0)"
                                                    class="md-view-file"
                                                    (click)="showModalViewFile(dataItem.guidIdFileDinhKem, dataItem.fileName)"
                                                >
                                                    <span [innerHTML]="dataItem.fileName | safeHtml: 'html'"></span>
                                                </a>
                                            </ng-template>
                                        </ng-container>
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </kendo-splitter-pane>
</kendo-splitter>
<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>
