<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.SAN_PHAM_UNG_DUNG.PRODUCT' | translate }} <span class="text-danger">(*)</span> </label>
                <input type="text" class="m-input form-control" formControlName="sanPham" />
                <app-field-error [control]="form.get('sanPham')"></app-field-error>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.SAN_PHAM_UNG_DUNG.FORM' | translate }} </label>
                <input type="text" class="m-input form-control" formControlName="hinhThuc" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.SAN_PHAM_UNG_DUNG.TIME' | translate }} <span class="text-danger">(*)</span></label>
                <nz-date-picker
                    formControlName="thoiGian"
                    nzFormat="dd/MM/yyyy"
                    [nzPlaceHolder]="'LB.SELECT' | translate"
                    style="width: 100%"
                >
                </nz-date-picker>
                <app-field-error [control]="form.get('thoiGian')"></app-field-error>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.SAN_PHAM_UNG_DUNG.SCALE' | translate }} </label>
                <input type="text" class="m-input form-control" formControlName="quyMo" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.SAN_PHAM_UNG_DUNG.USES' | translate }} </label>
                <input type="text" class="m-input form-control" formControlName="congDung" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.SAN_PHAM_UNG_DUNG.ADDRESS' | translate }} </label>
                <input type="text" class="m-input form-control" formControlName="diaChiApDung" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{ 'SB.SAN_PHAM_UNG_DUNG.PLACE' | translate }}
                </label>
                <asc-select
                    [modeOfDropDowList]="dropdownListEnum.NOI_UNG_DUNG"
                    [placeHolder]="'LB.SELECT' | translate"
                    formControlName="noiUngDung"
                >
                </asc-select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{ 'LB.SB.FIELD' | translate }}
                </label>
                <asc-select
                    [modeOfDropDowList]="dropdownListEnum.LINH_VUC"
                    [placeHolder]="'LB.SELECT' | translate"
                    formControlName="idLinhVuc"
                >
                </asc-select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{ 'LB.NOTE' | translate }}
                </label>
                <textarea class="form-control" formControlName="ghiChu"></textarea>
            </div>
        </div>
    </div>
    <div class="text-right border-form-footer">
        <button type="button" (click)="closeForm()" class="btn_custom btn_remove btn_close mr-1">{{ 'BTN.CANCEL' | translate }}</button>
        <button type="submit" class="btn_custom btn_add">{{ 'BTN.SAVE' | translate }}</button>
    </div>
</form>
