<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <label class="col-md-2 col-4 col-form-label">
                        {{ 'Thời gian làm việc' | translate }}<span class="float-right">:</span>
                    </label>
                    <label class="col-md-10 col-8 col-form-label lb-bold-info">{{ model?.thoiGianLamViec }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <label class="col-md-2 col-4 col-form-label">
                        {{ 'Phương tiện làm việc' | translate }}<span class="float-right">:</span>
                    </label>
                    <label class="col-md-10 col-8 col-form-label lb-bold-info">{{ model?.phuongTienLamViec }}</label>
                </div>
            </div>
        </div>
    </div>
</div>
