<div class="row">
    <div class="col-md-12">
        <div class="grid-wrapper">
            <kendo-grid
                [data]="gridViewDeXuatNhanSu"
                [pageSize]="gridState.take"
                [skip]="gridState.skip"
                [loading]="loading"
                [pageable]="pageConfig"
                [resizable]="true"
                [columnMenu]="false"
                kendoGridSelectBy="idViTriViecLam"
                [selectedKeys]="selectionIds"
                (dataStateChange)="onStateChange($event)"
                (selectionChange)="selectRow($event)"
                [selectable]="true"
                [group]="groups"
            >
                <kendo-grid-column field="tenNhomViTriViecLam" [title]="'RECRUITMENT.TEXT.01' | translate" class="text-left" hidden="true">
                    <ng-template kendoGridGroupHeaderTemplate let-group let-value="value">
                        {{ value }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-checkbox-column
                    showSelectAll="true"
                    width="50"
                    [columnMenu]="false"
                    class="text-center"
                    [headerStyle]="{ 'text-align': 'center' }"
                >
                </kendo-grid-checkbox-column>
                <kendo-grid-column [title]="'LB.STT' | translate" width="50" [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="text-center">
                            {{ rowIndex + 1 }}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [title]="'RECRUITMENT.DINH_BIEN.VTVL' | translate" [columnMenu]="false" [width]="250">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{ dataItem.tenViTriViecLam }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column-group
                    [title]="'RECRUITMENT.DINH_BIEN.TITLE' | translate"
                    [columnMenu]="false"
                    [headerStyle]="{ 'text-align': 'center' }"
                >
                    <kendo-grid-column
                        [title]="'RECRUITMENT.DINH_BIEN.CAP_LUONG' | translate"
                        [width]="100"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{ dataItem.dinhBienCapLuong ? dataItem.dinhBienCapLuong : 0 }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                        [title]="'RECRUITMENT.DINH_BIEN.TU_TRA' | translate"
                        [width]="80"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{ dataItem.dinhBienTuTra ? dataItem.dinhBienTuTra : 0 }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                        [title]="'RECRUITMENT.THONG_KE.TONG_SO' | translate"
                        [width]="80"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{ dataItem.dinhBienCapLuong + dataItem.dinhBienTuTra }}
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid-column-group>
                <kendo-grid-column-group
                    [title]="'RECRUITMENT.KE_HOACH.HIEN_HANH' | translate"
                    [columnMenu]="false"
                    [headerStyle]="{ 'text-align': 'center' }"
                >
                    <kendo-grid-column
                        [title]="'RECRUITMENT.DINH_BIEN.CAP_LUONG' | translate"
                        [width]="100"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{ dataItem.hienTaiCapLuong }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                        [title]="'RECRUITMENT.DINH_BIEN.TU_TRA' | translate"
                        [width]="80"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{ dataItem.hienTaiTuTra }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                        [title]="'RECRUITMENT.THONG_KE.TONG_SO' | translate"
                        [width]="80"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{ dataItem.hienTaiCapLuong + dataItem.hienTaiTuTra }}
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid-column-group>
                <kendo-grid-column-group
                    [title]="'RECRUITMENT.KE_HOACH.DE_XUAT' | translate"
                    [columnMenu]="false"
                    [headerStyle]="{ 'text-align': 'center' }"
                >
                    <kendo-grid-column
                        [title]="'RECRUITMENT.DINH_BIEN.CAP_LUONG' | translate"
                        [width]="100"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                        class="bg-yellow"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <nz-input-number
                                [nzMin]="0"
                                [nzStep]="1"
                                style="width: 100%"
                                [nzMax]="dataItem.dinhBienCapLuong > 0 ? dataItem.dinhBienCapLuong : 0"
                                [nzPlaceHolder]="'RECRUITMENT.DINH_BIEN.CAP_LUONG' | translate"
                                [(ngModel)]="dataItem.capLuong"
                                [ngModelOptions]="{ standalone: true }"
                            >
                            </nz-input-number>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                        [title]="'RECRUITMENT.DINH_BIEN.TU_TRA' | translate"
                        [width]="80"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                        class="bg-yellow"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <nz-input-number
                                [nzMin]="0"
                                [nzStep]="1"
                                style="width: 100%"
                                [nzMax]="dataItem.dinhBienTuTra > 0 ? dataItem.dinhBienTuTra : 0"
                                [nzPlaceHolder]="'RECRUITMENT.DINH_BIEN.TU_TRA' | translate"
                                [(ngModel)]="dataItem.tuTra"
                                [ngModelOptions]="{ standalone: true }"
                            >
                            </nz-input-number>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                        [title]="'RECRUITMENT.THONG_KE.TONG_SO' | translate"
                        [width]="80"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                        class="bg-yellow"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{ dataItem.capLuong + dataItem.tuTra > 0 ? dataItem.capLuong + dataItem.tuTra : 0 }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                        [title]="'RECRUITMENT.DINH_BIEN.NGUON_TUYEN' | translate"
                        [width]="200"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                        class="bg-yellow"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <input
                                class="m-input form-control"
                                [(ngModel)]="dataItem.nguonTuyen"
                                [ngModelOptions]="{ standalone: true }"
                                style="width: 100%"
                            />
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid-column-group>
            </kendo-grid>
        </div>
    </div>
</div>
<div class="text-right border-form-footer">
    <button type="button" (click)="closeChiTietForm()" class="btn_custom btn_df mr-1">{{ 'BTN.CANCEL' | translate }}</button>
    <button type="button" (click)="onSubmit()" [disabled]="selectionIds.length < 1" class="btn_custom btn_add">
        {{ 'BTN.SAVE' | translate }}
    </button>
</div>
