<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{ 'ST.ICON_DU_AN.TITLE' | translate }}</h3>
          </div>
      </div>
      <div class="m-portlet__head-caption">
          <div class="m-input-icon m-input-icon--left m-input-icon--right dropdown-search-advance pull-right">
              <input
                  type="text"
                  class="form-control m-input"
                  [placeholder]="'LB.SEARCH_PLACEHOLDER' | translate"
                  [formControl]="searchControl"
              />
              <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span>
                      <i class="la la-search"></i>
                  </span>
              </span>
          </div>
      </div>
      <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <button class="btn_custom btn_add" disabled>
                  <div [innerHTML]="'plus.svg' | vnuIcon | safeHtml: 'html'"></div>
                  <span class="text">{{ 'BTN.ADD' | translate }}</span>
              </button>
              </li>
              <li class="m-portlet__nav-item">
                <button class="btn_custom btn_remove" disabled>
                  <div [innerHTML]="'trash.svg' | vnuIcon | safeHtml: 'html'"></div>
                  <span class="text">{{ 'BTN.DELETE' | translate }}</span>
              </button>
              </li>
          </ul>
      </div>
  </div>
  <div class="m-portlet__body m-portlet-custom p-2" style="background-color: #f8f6f2;">
    <div class="row"> 
      <div class="col-2"></div>
      <div class="col-8">
        <ul nz-list [nzDataSource]="icons" nzBordered nzSize="large">
          <div class="row">
            <div class="col-3 grid-wrapper text-center" *ngFor="let item of icons">
              <li nz-list-item nzNoFlex>
                <div [innerHTML]="item.name | vnuIcon | safeHtml: 'html'" class="large-icon"></div>
                {{ item.name }}
              </li>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>

<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
  <div kendoWindowContainer></div>
</div>
