<div class="m-portlet mb-0">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ 'HR.MENU.TRINH_DO_CHUYEN_MON' | translate }}
                    <small *ngIf="model?.idTrangThaiDuLieu === trangThaiDuLieuEnum.DE_XUAT" class="text-normal text-danger font-italic">
                        ({{ 'HR.MES.15' | translate  }})
                    </small>
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item" *ngIf="roles.isUpdate">
                    <ng-container *ngIf="model && model.compareData && !isTraCuuNhanSu">
                        <button
                            class="btn_custom btn_add"
                            nz-popover
                            [nzPopoverTitle]="titleTemplate"
                            [nzPopoverContent]="contentTemplate"
                            nzPopoverTrigger="click"
                            [(nzPopoverVisible)]="visible"
                        >
                            <div [innerHTML]="'hummer.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.COMPARE' | translate }}</span>
                        </button>
                    </ng-container>
                    <ng-template #titleTemplate><i nz-icon nzType="close"></i> {{ 'LB.HRM.LICH_SU_CHINH_SUA' | translate }}</ng-template>
                    <ng-template #contentTemplate>
                        <app-trinh-do-chuyen-mon-compare
                            [compareData]="model"
                            (closePopover)="closePopover()"
                        ></app-trinh-do-chuyen-mon-compare>
                    </ng-template>
                </li>
                <ng-container
                    *ngIf="isDuyetLyLichNhanSu && model?.idTrangThaiDuLieu === trangThaiDuLieuEnum.DE_XUAT && !model?.compareData"
                >
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_update" (click)="onApprove(true)">
                            <div [innerHTML]="'sending.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.DUYET' | translate }}</span>
                        </button>
                    </li>
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_df" (click)="onApprove(false)">
                            <div [innerHTML]="'close.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.KHONG_DUYET' | translate }}</span>
                        </button>
                    </li>
                </ng-container>
                <ng-container *ngIf="(isDuyetLyLichNhanSu && !model?.compareData) || !isDuyetLyLichNhanSu">
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_add" (click)="showFormCapNhatTrinhDo()">
                            <div [innerHTML]="'update.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.UPDATE' | translate }}</span>
                        </button>
                    </li>
                </ng-container>
                <li class="m-portlet__nav-item">
                    <app-export-ho-so-nhan-su [nhanSuId]="nhanSuId"></app-export-ho-so-nhan-su>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body p-4">
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.TRINH_DO_CHUYEN_MON.TRINH_DO_VAN_HOA' | translate }} <span class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.tenTrinhDoVanHoa }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.TRINH_DO_CHUYEN_MON.TRINH_DO_CHINH_TRI' | translate }} <span class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.tenTrinhDoChinhTri }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.TRINH_DO_CHUYEN_MON.TRINH_DO_NHA_NUOC' | translate }} <span class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.tenTrinhDoNhaNuoc }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.TRINH_DO_CHUYEN_MON.TRINH_DO_NGOAI_NGU' | translate }} <span class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.trinhDoNgoaiNgu }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.TRINH_DO_CHUYEN_MON.TRINH_DO_TIN_HOC' | translate }} <span class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.trinhDoViTinh }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.TRINH_DO_CHUYEN_MON.TRINH_DO_NGHIEP_VU' | translate }} <span class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.trinhDoNghiepVuTheoChuyenNganh }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.TRINH_DO_CHUYEN_MON.TRINH_DO_CHUYEN_MON_CAO_NHAT' | translate }} <span class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.tenTrinhDoChuyenMonCaoNhat }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'LB.NOTE' | translate }} <span class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.ghiChu }}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-portlet mb-0">
    <div class="m-portlet__body nztab-custom">
        <nz-tabset>
            <nz-tab [nzTitle]="'HR.TAB.DAO_TAO_BOI_DUONG_DAI_HAN' | translate">
                <app-nhan-su-trinh-do-chuyen-mon></app-nhan-su-trinh-do-chuyen-mon>
            </nz-tab>
            <nz-tab [nzTitle]="'HR.TAB.DAO_TAO_BOI_DUONG_NGAN_HAN' | translate">
                <ng-template nz-tab>
                    <app-dao-tao-boi-duong></app-dao-tao-boi-duong>
                </ng-template>
            </nz-tab>
            <nz-tab [nzTitle]="'HR.TAB.TRINH_DO_NGOAI_NGU' | translate">
                <ng-template nz-tab>
                    <app-nhan-su-trinh-do-ngoai-ngu></app-nhan-su-trinh-do-ngoai-ngu>
                </ng-template>
            </nz-tab>
            <nz-tab [nzTitle]="'HR.TAB.TRINH_DO_TIN_HOC' | translate">
                <ng-template nz-tab>
                    <app-nhan-su-trinh-do-tin-hoc></app-nhan-su-trinh-do-tin-hoc>
                </ng-template>
            </nz-tab>
            <nz-tab [nzTitle]="'HR.TAB.CHUC_DANH_KHOA_HOC' | translate">
                <ng-template nz-tab>
                    <app-nhan-su-chuc-danh-khoa-hoc></app-nhan-su-chuc-danh-khoa-hoc>
                </ng-template>
            </nz-tab>
        </nz-tabset>
        <ng-template #extraTemplate></ng-template>
    </div>
</div>
<div class="k-overlay" *ngIf="opened"></div>
