<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <nz-tabset>
        <nz-tab [nzTitle]="'HR.KHAC.01' | translate">
            <div class="form-group m-form__group">
                <label> {{ 'HR.KHAC.02' | translate }} </label>
                <textarea class="form-control m-input" rows="3" formControlName="tienAnTienSu"></textarea>
            </div>
            <div class="form-group m-form__group">
                <label> {{ 'HR.KHAC.19' | translate }} </label>
                <textarea class="form-control m-input" rows="3" formControlName="lamViecCheDoCu"></textarea>
            </div>
        </nz-tab>

        <nz-tab [nzTitle]="'HR.KHAC.03' | translate">
            <div class="form-group m-form__group">
                <label> {{ 'HR.KHAC.04' | translate }} </label>
                <textarea class="form-control m-input" rows="3" formControlName="thamGiaToChucChinhTri"></textarea>
            </div>
            <div class="form-group m-form__group">
                <label> {{ 'HR.KHAC.05' | translate }} </label>
                <textarea class="form-control m-input" rows="3" formControlName="thanNhanNuocNgoai"></textarea>
            </div>
        </nz-tab>

        <nz-tab [nzTitle]="'HR.KHAC.21' | translate">
            <div class="form-group m-form__group">
                <label> {{ 'HR.KHAC.20' | translate }} </label>
                <textarea class="form-control m-input" rows="3" formControlName="nhanXet"></textarea>
            </div>
        </nz-tab>

        <nz-tab [nzTitle]="'HR.KHAC.06' | translate">
            <nz-collapse nzAccordion class="ant-collapse-custom">
                <nz-collapse-panel [nzHeader]="'HR.KHAC.07' | translate" [nzActive]="true">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label> {{ 'HR.KHAC.08' | translate }} </label>
                                <input type="text" class="m-input form-control" formControlName="nguonThuNhapChinh" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label> {{ 'HR.KHAC.09' | translate }} </label>
                                <input type="text" class="m-input form-control" formControlName="nguonKhac" />
                            </div>
                        </div>
                    </div>
                </nz-collapse-panel>
                <nz-collapse-panel [nzHeader]="'HR.KHAC.10' | translate" [nzActive]="true">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label> {{ 'HR.KHAC.11' | translate }} </label>
                                <input type="text" class="m-input form-control" formControlName="tenNhaODuocCap" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label> {{ 'HR.KHAC.12' | translate }} </label>
                                <nz-input-number [nzMin]="0" [nzStep]="1" style="width: 100%" formControlName="dienTichNhaODuocCap"></nz-input-number>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label> {{ 'HR.KHAC.13' | translate }} </label>
                                <input type="text" class="m-input form-control" formControlName="tenNhaOTuMua" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label> {{ 'HR.KHAC.12' | translate }} </label>
                                <nz-input-number [nzMin]="0" [nzStep]="1" style="width: 100%" formControlName="dienTichNhaOTuMua"></nz-input-number>
                            </div>
                        </div>
                    </div>
                </nz-collapse-panel>
                <nz-collapse-panel [nzHeader]="'HR.KHAC.14' | translate" [nzActive]="true">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label> {{ 'HR.KHAC.15' | translate }} </label>
                                <nz-input-number [nzMin]="0" [nzStep]="1" style="width: 100%" formControlName="dienTichDatODuocCap"></nz-input-number>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label> {{ 'HR.KHAC.16' | translate }} </label>
                                <nz-input-number [nzMin]="0" [nzStep]="1" style="width: 100%" formControlName="dienTichDatOTuMua"></nz-input-number>
                            </div>
                        </div>
                    </div>
                </nz-collapse-panel>
                <nz-collapse-panel [nzHeader]="'HR.KHAC.17' | translate" [nzActive]="true">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group m-form__group">
                                <label> {{ 'HR.KHAC.18' | translate }} </label>
                                <input type="text" class="m-input form-control" formControlName="datSanXuatKinhDoanh" />
                            </div>
                        </div>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
        </nz-tab>

    </nz-tabset>
    <div class="text-right border-form-footer">
        <button type="button" (click)="closeForm()" class="btn_custom btn_remove btn_close mr-1">{{ 'BTN.CANCEL' | translate }}</button>
        <button type="submit" class="btn_custom btn_add">{{ 'BTN.SAVE' | translate }}</button>
    </div>
</form>