
<app-danh-sach-thiet-bi [isMain]="true"> </app-danh-sach-thiet-bi>
<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>











<!-- <div class="search-backdrop" (click)="openAdvanceSearch()"></div>
<div class="m-portlet m-portlet--mobile mb-0" [@fadeInOnEnter] [@fadeOutOnLeave]>
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption m-portlet__head-caption-title">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ tabName }}
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-caption">
            <div class="m-input-icon m-input-icon--left m-input-icon--right dropdown-search-advance">
                <input
                    type="text"
                    class="form-control m-input"
                    [placeholder]="'LB.SEARCH_PLACEHOLDER' | translate"
                    [(ngModel)]="modelSearch.keyword"
                    (change)="onSearchChange()"
                    (keydown.enter)="onSearchChange()"
                />
                <span class="m-input-icon__icon m-input-icon__icon--left">
                    <span>
                        <i class="la la-search"></i>
                    </span>
                </span>
                <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span (click)="openAdvanceSearch()" class="dropbtn-search-advance">
                        <i class="la la-caret-down"></i>
                    </span>
                </span>
                <div
                    id="myDropdown"
                    class="dropdown-content-search-advance w-200"
                    [ngClass]="this.searchAdvance ? 'show-search-advance' : ''"
                    *ngIf="openFirstTime"
                >
                    <div class="custom-search-advance m-form">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label"> {{ 'PTN.TB.MA' | translate }} </label>
                            <div class="col-lg-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" [(ngModel)]="modelSearch.maThietBi" />
                                </div>
                            </div>
                            <label class="col-lg-2 col-form-label"> {{ 'PTN.TB.TEN' | translate }} </label>
                            <div class="col-lg-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" [(ngModel)]="modelSearch.tenThietBi" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">{{ 'PTN.TB.DON_VI' | translate }} </label>
                            <div class="col-lg-4">
                                <app-select-user-tree
                                    [placeholder]="'LB.HRM.CO_QUAN' | translate"
                                    [(ngModel)]="modelSearch.idCoQuan"
                                ></app-select-user-tree>
                            </div>

                            <label class="col-lg-2 col-form-label"> {{ 'PTN.TB.PHONG_THI_NGHIEM' | translate }} </label>
                            <div class="col-lg-4">
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.PTN_PHONG_THI_NGHIEM"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    mode="multiple"
                                    [(ngModel)]="modelSearch.idPhongThiNghiem"
                                ></asc-select>
                            </div>
                        </div>

                        <div class="form-group m-form__group row text-right">
                            <div class="col-12 text-right">
                                <div class="btn-actions">
                                    <button class="btn_custom btn_add mr-1" (click)="searchHandler()">
                                        <span class="text">
                                            {{ 'BTN.SEARCH' | translate }}
                                        </span>
                                    </button>
                                    <button class="btn_custom btn_df" (click)="refreshHandler()">
                                        <span class="text">
                                            {{ 'BTN.RESET' | translate }}
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <ng-container>
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_add" (click)="addHandler(false)">
                            <div [innerHTML]="'plus.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.ADD' | translate }}</span>
                        </button>
                    </li>
                </ng-container>
                <ng-container>
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_remove" (click)="removeSelectedHandler()" [disabled]="selectionIds.length < 1">
                            <div [innerHTML]="'trash.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.DELETE' | translate }}</span>
                        </button>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <ng-template #template let-anchor>
            <span>{{ anchor.nativeElement.innerText }}</span>
        </ng-template>

        <div kendoTooltip showOn="none" [tooltipTemplate]="template" filter=".k-grid td" (mouseover)="showTooltip($event)">
            <div class="grid-wrapper" [ngStyle]="{ 'height.px': pageHeight }">
                <kendo-grid
                    [data]="gridView$ | async"
                    [loading]="loading"
                    [pageSize]="gridState.take"
                    [skip]="gridState.skip"
                    [pageable]="pageConfig"
                    [resizable]="true"
                    [columnMenu]="true"
                    [sortable]="true"
                    [selectable]="true"
                    kendoGridSelectBy="id"
                    [selectedKeys]="selectionIds"
                    [sort]="gridState.sort"
                    [style.height]="'100%'"
                    (dataStateChange)="onStateChange($event)"
                >
                    <kendo-grid-checkbox-column showSelectAll="true" width="45" [columnMenu]="false"></kendo-grid-checkbox-column>
                    <kendo-grid-column [title]="'LB.ACTION' | translate" class="text-center" width="90" [columnMenu]="false">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <nz-button-group>
                                <button nz-button nz-dropdown class="btn-light" [nzDropdownMenu]="menu" nzPlacement="right">
                                    <div [innerHTML]="'commode1.svg' | vnuIcon | safeHtml: 'html'"></div>
                                </button>
                            </nz-button-group>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <div class="m-dropdown__wrapper menu-dropdown-table">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            {{ 'LB.ACTION' | translate }}
                                                        </span>
                                                    </li>

                                                    <ng-container>
                                                        <li class="m-nav__item">
                                                            <a (click)="editHandler(dataItem, true)" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-edit"></i>
                                                                <span class="m-nav__link-text"> {{ 'BTN.EDIT' | translate }}</span>
                                                            </a>
                                                        </li>
                                                    </ng-container>
                                                    <ng-container>
                                                        <li class="m-nav__item">
                                                            <a (click)="removeHandler(dataItem)" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-delete-1"></i>
                                                                <span class="m-nav__link-text"> {{ 'BTN.DELETE' | translate }}</span>
                                                            </a>
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nz-dropdown-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [title]="'LB.STT' | translate" width="60" [columnMenu]="false">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <div class="text-center">
                                {{ rowIndex + 1 }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="maThietBi" [title]="'PTN.TB.MA' | translate" width="150">
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="tenThietBi" [title]="'PTN.TB.TEN' | translate"></kendo-grid-column>

                    <ng-template kendoGridDetailTemplate let-dataItem>
                        <nz-tabset>
                            <nz-tab [nzTitle]="'PTN.THONG_TIN_CHUNG' | translate">
                                <section>
                                    <div class="row" *ngIf="dataItem.tenNhomCongCu != null && dataItem.tenNhomCongCu != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.NHOM_CONG_CU' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.tenNhomCongCu }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tenCongCu != null && dataItem.tenCongCu != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.CONG_CU' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.tenCongCu }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.maThietBi != null && dataItem.maThietBi != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.MA' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.maThietBi }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tenThietBi != null && dataItem.tenThietBi != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.TEN' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.tenThietBi }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tenDonVi != null && dataItem.tenDonVi != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.DON_VI' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.tenDonVi }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tenQuocGia != null && dataItem.tenQuocGia != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.QUOC_GIA' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.tenQuocGia }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.nhaCungCap != null && dataItem.nhaCungCap != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.NHA_CUNG_CAP' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.nhaCungCap }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.namSuDung != null && dataItem.namSuDung != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.NAM_SU_DUNG' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.namSuDung }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tenPhongThiNghiem != null && dataItem.tenPhongThiNghiem != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.PHONG_THI_NGHIEM' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.tenPhongThiNghiem }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.nguyenGia != null && dataItem.nguyenGia != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.NGUYEN_GIA' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.nguyenGia | number }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.khauHao != null && dataItem.khauHao != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.KHAU_HAO' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.khauHao }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.giaTriConLai != null && dataItem.giaTriConLai != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.GIA_TRI' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{
                                                    dataItem?.giaTriConLai | number
                                                }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tinhTrang != null && dataItem.tinhTrang != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.TINH_TRANG' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.tinhTrang }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.moTa != null && dataItem.moTa != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.MO_TA' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.moTa }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.thongTinKyThuat != null && dataItem.thongTinKyThuat != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.THONG_SO_KI_THUAT' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.thongTinKyThuat }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.dieuKienVanHanh != null && dataItem.dieuKienVanHanh != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'PTN.TB.DIEU_KIEN_VAN_HANH' | translate }}<span class="float-right">:</span></label
                                                >
                                                <label class="col-10 col-form-label lb-bold-info">{{ dataItem?.dieuKienVanHanh }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </nz-tab>
                            <nz-tab [nzTitle]="'PTN.DINH_MUC_TIEU_HAO' | translate">
                                <app-dinh-muc-vat-tu-tieu-hao [idThietBi]="dataItem.id"> </app-dinh-muc-vat-tu-tieu-hao>
                            </nz-tab>
                            <nz-tab [nzTitle]="'PTN.THIET_BI_PHU_THUOC' | translate">
                                <app-danh-sach-thiet-bi-phu-thuoc [idThietBi]="dataItem.id"> </app-danh-sach-thiet-bi-phu-thuoc>
                            </nz-tab>
                            <nz-tab [nzTitle]="'PTN.HUONG_DAN_SU_DUNG' | translate">
                                <app-huong-dan-su-dung [idThietBi]="dataItem.id"> </app-huong-dan-su-dung>
                            </nz-tab>
                            <nz-tab [nzTitle]="'PTN.BAO_HANH_BAO_TRI' | translate">
                                <app-bao-hanh-bao-tri [idThietBi]="dataItem.id"> </app-bao-hanh-bao-tri>
                            </nz-tab>
                            <nz-tab [nzTitle]="'PTN.MANG_RA_NGOAI' | translate">
                                <app-mang-ra-ngoai [idThietBi]="dataItem.id"> </app-mang-ra-ngoai>
                            </nz-tab>
                        </nz-tabset>
                    </ng-template>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>
<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div> -->
