<div class="search-backdrop" (click)="openAdvanceSearch()"></div>
<div class="m-portlet m-portlet--mobile mb-0">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption m-portlet__head-caption-title">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ tabName }}
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-caption">
            <div class="m-input-icon m-input-icon--left m-input-icon--right dropdown-search-advance">
                <input type="text" class="form-control m-input" placeholder="{{ 'BTN.SEARCH' | translate }}"
                [(ngModel)]="modelSearch.keyword" (change)="onSearchChange()" (keydown.enter)="onSearchChange()" />
                <span class="m-input-icon__icon m-input-icon__icon--left">
                    <span>
                        <i class="la la-search"></i>
                    </span>
                </span>
                <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span (click)="openAdvanceSearch()" class="dropbtn-search-advance">
                        <i class="la la-caret-down"></i>
                    </span>
                </span>
                <div id="myDropdown" class="dropdown-content-search-advance w-200"
                    [ngClass]="this.searchAdvance ? 'show-search-advance' : ''" *ngIf="openFirstTime">
                    <div class="custom-search-advance m-form">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">{{ 'LB.HRM.MA_NHAN_SU' | translate }} </label>
                            <div class="col-lg-4">
                                <input type="text" class="m-input form-control custom-input"
                                    [placeholder]="'LB.HRM.MA_NHAN_SU' | translate"
                                    [(ngModel)]="modelSearch.maNhanSu" />
                            </div>
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.HO_TEN' | translate }} </label>
                            <div class="col-lg-4">
                                <input type="text" class="m-input form-control custom-input"
                                    [placeholder]="'LB.HRM.HO_TEN' | translate" [(ngModel)]="modelSearch.hoTen" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">{{ 'LB.HRM.NGAY_SINH' | translate }} </label>
                            <div class="col-lg-4">
                                <nz-date-picker [(ngModel)]="modelSearch.ngaySinh" nzFormat="dd/MM/yyyy"
                                    [nzPlaceHolder]="'LB.SELECT' | translate" style="width: 100%">
                                </nz-date-picker>
                            </div>
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.GIOI_TINH' | translate }} </label>
                            <div class="col-lg-4">
                                <asc-select [modeOfDropDowList]="dropdownListEnum.GIOI_TINH"
                                    [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelSearch.idGioiTinh">
                                </asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.SO_DIEN_THOAI' | translate }} </label>
                            <div class="col-lg-4">
                                <input type="text" class="m-input form-control custom-input" placeholder="Số điện thoại"
                                    [(ngModel)]="modelSearch.soDienThoai" />
                            </div>
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.LOAI_NHAN_SU' | translate }} </label>
                            <div class="col-lg-4">
                                <asc-select [modeOfDropDowList]="dropdownListEnum.LOAI_NHAN_SU"
                                    [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelSearch.idsLoaiNhanSu">
                                </asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.LOAI_HOP_DONG' | translate }} </label>
                            <div class="col-lg-4">
                                <asc-select [modeOfDropDowList]="dropdownListEnum.LOAI_HOP_DONG"
                                    [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelSearch.idsLoaiHopDong">
                                </asc-select>
                            </div>
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.CHUC_VU' | translate }} </label>
                            <div class="col-lg-4">
                                <asc-select [modeOfDropDowList]="dropdownListEnum.CHUC_VU"
                                    [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelSearch.idsChucVu">
                                </asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.CHUC_DANH_KHOA_HOC' | translate }}
                            </label>
                            <div class="col-lg-4">
                                <asc-select [modeOfDropDowList]="dropdownListEnum.CHUC_DANH_KHOA_HOC"
                                    [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelSearch.idsChucDanh">
                                </asc-select>
                            </div>
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.NGACH_CONG_CHUC' | translate }} </label>
                            <div class="col-lg-4">
                                <asc-select [modeOfDropDowList]="dropdownListEnum.NGACH_CONG_CHUC"
                                    [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelSearch.idsNgach">
                                </asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.QUOC_TICH' | translate }} </label>
                            <div class="col-lg-4">
                                <asc-select [modeOfDropDowList]="dropdownListEnum.QUOC_TICH"
                                    [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelSearch.idsQuocTich">
                                </asc-select>
                            </div>
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.DAN_TOC' | translate }} </label>
                            <div class="col-lg-4">
                                <asc-select [modeOfDropDowList]="dropdownListEnum.DAN_TOC"
                                    [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelSearch.idsDanToc">
                                </asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.TON_GIAO' | translate }} </label>
                            <div class="col-lg-4">
                                <asc-select [modeOfDropDowList]="dropdownListEnum.TON_GIAO"
                                    [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelSearch.idsTonGiao">
                                </asc-select>
                            </div>
                            <label class="col-lg-2 col-form-label">
                                {{ 'LB.HRM.CO_QUAN' | translate }}
                            </label>
                            <div class="col-lg-4">
                                <app-select-user-tree [placeholder]="'LB.HRM.CO_QUAN' | translate"
                                    [(ngModel)]="modelSearch.idsCoQuan"></app-select-user-tree>
                            </div>
                        </div>
                        <div class="form-group m-form__group row text-right">
                            <div class="col-12 text-right">
                                <div class="btn-actions">
                                    <button class="btn_custom btn_add mr-1" (click)="onSearchChange()">
                                        <span class="text">
                                            {{ 'BTN.SEARCH' | translate }}
                                        </span>
                                    </button>
                                    <button class="btn_custom btn_df" (click)="refreshHandler()">
                                        <span class="text">
                                            {{ 'BTN.RESET' | translate }}
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <button type="button" class="btn_custom btn_add" (click)="createModalChangePassword()">
                        <div [innerHTML]="'update.svg' | vnuIcon | safeHtml: 'html'"></div>
                        <span class="text">{{ 'BTN.CHANGE_PASSWORD' | translate }}</span>
                    </button>
                </li>
                <li class="m-portlet__nav-item" *ngIf="roles.isCreate">
                    <button class="btn_custom btn_add" (click)="addHandler()">
                        <div [innerHTML]="'plus.svg' | vnuIcon | safeHtml: 'html'"></div>
                        <span class="text">{{ 'BTN.ADD' | translate }}</span>
                    </button>
                </li>
                <li class="m-portlet__nav-item" *ngIf="roles.isDelete">
                    <button class="btn_custom btn_remove" (click)="removeSelectedHandler()">
                        <div [innerHTML]="'trash.svg' | vnuIcon | safeHtml: 'html'"></div>
                        <span class="text">{{ 'BTN.DELETE' | translate }}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="grid-wrapper" [ngStyle]="{ 'height.px': pageHeight }">
            <kendo-grid [data]="gridView" 
                [loading]="isLoading" 
                [pageSize]="gridState.take" 
                [skip]="gridState.skip"
                [pageable]="pageConfig" 
                [resizable]="true" 
                [columnMenu]="false" 
                [sortable]="true"
                [sort]="gridState.sort" 
                [style.height]="'100%'" [selectable]="true" kendoGridSelectBy="id"
                [selectedKeys]="selectionIds" (dataStateChange)="onStateChange($event)">
                <kendo-grid-checkbox-column width="50" [columnMenu]="false" showSelectAll="true" class="text-center" 
                headerClass="text-center">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <input class="k-checkbox" [kendoGridSelectionCheckbox]="rowIndex"
                            (change)="onSelectedUser(dataItem, $event)" />
                        <label class="k-checkbox-label"></label>
                    </ng-template>

                    <ng-template kendoGridHeaderTemplate>
                        <input class="k-checkbox" kendoGridSelectAllCheckbox [state]="selectAllState"
                            (selectAllChange)="onSelectAllChange($event)" id="selectAllCheckboxId" />
                        <label class="k-checkbox-label" for="selectAllCheckboxId"></label>
                    </ng-template>
                </kendo-grid-checkbox-column>
                <kendo-grid-column 
                    [title]="'LB.ACTION' | translate" class="text-center" width="90" [columnMenu]="false"
                    headerClass="text-center"
                    *ngIf="roles.isUpdate || roles.isDelete">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <nz-button-group>
                            <button nz-button nz-dropdown class="btn-light" [nzDropdownMenu]="menu" nzPlacement="right">
                                <div [innerHTML]="'commode1.svg' | vnuIcon | safeHtml: 'html'"></div>
                            </button>
                        </nz-button-group>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="m-dropdown__wrapper menu-dropdown-table">
                                <span
                                    class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
                                                    <span class="m-nav__section-text">
                                                        {{ 'LB.ACTION' | translate }}
                                                    </span>
                                                </li>
                                                <li class="m-nav__item" *ngIf="roles.isUpdate">
                                                    <a href="javascript:void(0)" (click)="editHandler(dataItem)"
                                                        class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-edit-1"></i>
                                                        <span class="m-nav__link-text">
                                                            {{ 'BTN.EDIT' | translate }}
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item" *ngIf="roles.isDelete">
                                                    <a href="javascript:void(0)" (click)="removeHandler(dataItem)"
                                                        class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-delete-1"></i>
                                                        <span class="m-nav__link-text">
                                                            {{ 'BTN.DELETE' | translate }}
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [title]="'LB.STT' | translate" width="60" [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="text-center">
                            {{ rowIndex + 1 }}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="maNhanSu" [title]="'LB.STAFF_CODE' | translate"
                    width="110">
                </kendo-grid-column>
                <kendo-grid-column field="userName" [title]="'USER.USERNAME' | translate"> </kendo-grid-column>
                <kendo-grid-column field="lastName" class="text-left" [title]="'LB.FULLNAME' | translate" width="220"
                    [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="dark">
                            <b>{{ dataItem.firstName + ' ' + dataItem.lastName }}</b>
                        </div>
                        <div class="grid-size12">
                            {{
                            (dataItem.tenChucVu ? dataItem.tenChucVu : '') +
                            (dataItem.tenChucVu && dataItem.tenChucDanh ? ' - ' : '') +
                            (dataItem.tenChucDanh ? dataItem.tenChucDanh : '')
                            }}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="tenGioiTinh" [title]="'LB.GENDER' | translate" width="80"
                    headerClass="text-center"
                    class="text-center">
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="ngaySinh" 
                [title]="'LB.BIRTHDAY' | translate" width="100"
                    headerClass="text-center"
                    class="text-center">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{ dataItem?.ngaySinh | date: 'dd/MM/yyyy' }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [columnMenu]="false" field="tenCoQuan" [title]="'LB.DEPARTMENT' | translate"
                    width="200" [sortable]="false">
                </kendo-grid-column>
                <kendo-grid-column field="groupName" [title]="'USER.IN_GROUP' | translate" [sortable]="false"> </kendo-grid-column>
                <kendo-grid-column field="isActive" [title]="'USER.ACTIVE' | translate" width="90" headerClass="text-center">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="text-center">
                            <a href="javascript:void(0)" class="text-center text-success"
                                [ngClass]="dataItem.isActive ? 'text-success' : 'text-danger'">
                                <i style="font-size: 18px" class="la"
                                    [ngClass]="dataItem.isActive ? 'la-check-circle-o' : 'la-remove text-danger'"></i>
                            </a>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="doiMatKhau" [title]="'USER.CHANGE_PW' | translate" width="100" headerClass="text-center">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="text-center">
                            <a href="javascript:void(0)" class="text-center"
                                (click)="updatePasswordForOneUser(dataItem)">
                                <i style="font-size: 18px" class="la la-key"></i>
                            </a>
                        </div>
                    </ng-template>
                </kendo-grid-column>
                <ng-template kendoGridDetailTemplate let-dataItem>
                    <section>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-4 col-form-label">{{ 'USER.USERNAME' | translate }}<span
                                            class="float-right">:</span></label>
                                    <label class="col-8 col-form-label lb-bold-info">{{ dataItem?.userName
                                        }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-4 col-form-label">{{ 'LB.STAFF_CODE' | translate }}<span
                                            class="float-right">:</span></label>
                                    <label class="col-8 col-form-label lb-bold-info">{{ dataItem?.maNhanSu
                                        }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-4 col-form-label">{{ 'LB.FULLNAME' | translate }}<span
                                            class="float-right">:</span></label>
                                    <label class="col-8 col-form-label lb-bold-info">{{ dataItem?.firstName + ' ' + dataItem?.lastName
                                        }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-4 col-form-label">{{ 'LB.GENDER' | translate }}<span
                                            class="float-right">:</span></label>
                                    <label class="col-8 col-form-label lb-bold-info">{{ dataItem?.tenGioiTinh
                                        }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-4 col-form-label">{{ 'LB.BIRTHDAY' | translate }}<span
                                            class="float-right">:</span></label>
                                    <label class="col-8 col-form-label lb-bold-info">{{ dataItem?.ngaySinh | date: 'dd/MM/yyyy' }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-4 col-form-label">{{ 'USER.IN_GROUP' | translate }}<span
                                            class="float-right">:</span></label>
                                    <label class="col-8 col-form-label lb-bold-info">{{ dataItem?.groupName
                                        }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-4 col-form-label">{{ 'USER.ACTIVE' | translate }}<span
                                            class="float-right">:</span></label>
                                    <label class="col-8 col-form-label lb-bold-info">
                                        <a href="javascript:void(0)" class="text-center text-success"
                                            [ngClass]="dataItem.isActive ? 'text-success' : 'text-danger'">
                                            <i style="font-size: 18px" class="la"
                                                [ngClass]="dataItem.isActive ? 'la-check-circle-o' : 'la-remove text-danger'"></i>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-4 col-form-label">{{ 'LB.DEPARTMENT' | translate }}<span
                                            class="float-right">:</span></label>
                                    <label class="col-8 col-form-label lb-bold-info">{{ dataItem?.tenCoQuan }}</label>
                                </div>
                            </div>
                        </div>
                    </section>
                </ng-template>
            </kendo-grid>
        </div>
    </div>
</div>
<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>