<div class="search-backdrop" (click)="openAdvanceSearch()" *ngIf="isMain"></div>
<div class="m-portlet m-portlet--mobile mb-0">
    <div class="m-portlet__head" *ngIf="isMain">
        <div class="m-portlet__head-caption m-portlet__head-caption-title" *ngIf="isMain">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ tabName }}
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-caption">
            <div class="m-input-icon m-input-icon--left m-input-icon--right dropdown-search-advance">
                <input
                    type="text"
                    class="form-control m-input"
                    [placeholder]="'LB.SEARCH_PLACEHOLDER' | translate"
                    [(ngModel)]="extendModelSearch.keyWord"
                    (change)="onSearchChange()"
                    (keydown.enter)="onSearchChange()"
                />
                <span class="m-input-icon__icon m-input-icon__icon--left">
                    <span>
                        <i class="la la-search"></i>
                    </span>
                </span>
                <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span (click)="openAdvanceSearch()" class="dropbtn-search-advance">
                        <i class="la la-caret-down"></i>
                    </span>
                </span>
                <div
                    id="myDropdown"
                    class="dropdown-content-search-advance"
                    [ngClass]="this.searchAdvance ? 'show-search-advance' : ''"
                    *ngIf="openFirstTime"
                >
                    <div class="custom-search-advance m-form">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">{{ 'SCI.BBKH.DON_VI' | translate }} </label>
                            <div class="col-lg-8">
                                <app-select-user-tree
                                    [placeholder]="'LB.HRM.CO_QUAN' | translate"
                                    [(ngModel)]="extendModelSearch.idCoQuans"
                                    [isMultiple]="true"
                                ></app-select-user-tree>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">{{ 'SCI.BBKH.TAP_CHI' | translate }} </label>
                            <div class="col-lg-8">
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.TAP_CHI_KHCN"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    [(ngModel)]="extendModelSearch.idTapChis"
                                    [isDisabled]="false"
                                    mode="isMultiple"
                                >
                                </asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">{{ 'SCI.BBKH.NAM_CONG_BO' | translate }} </label>
                            <div class="col-lg-8">
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.NAM"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    [(ngModel)]="extendModelSearch.namCongBos"
                                    [isDisabled]="false"
                                    mode="isMultiple"
                                >
                                </asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">{{ 'NV.TRANG_THAI' | translate }} </label>
                            <div class="col-lg-8">
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.KHCN_TRANG_THAI"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    [(ngModel)]="extendModelSearch.idTrangThaiDuyets"
                                    [isDisabled]="false"
                                    mode="isMultiple"
                                ></asc-select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row text-right">
                            <div class="col-12 text-right">
                                <div class="btn-actions">
                                    <button class="btn_custom btn_add mr-1" (click)="searchHandler()">
                                        <span class="text">
                                            {{ 'BTN.SEARCH' | translate }}
                                        </span>
                                    </button>
                                    <button class="btn_custom btn_df" (click)="refreshHandler()">
                                        <span class="text">
                                            {{ 'BTN.RESET' | translate }}
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">{{ 'SCI.BBKH.TEN' | translate }} </label>
                            <div class="col-lg-8">
                                <input
                                    type="text"
                                    class="form-control"
                                    [placeholder]="'SCI.BBKH.TEN' | translate"
                                    [(ngModel)]="extendModelSearch.tenBaiBao"
                                />
                            </div>
                        </div> -->
                        <!-- <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">{{ 'SCI.BBKH.PTN' | translate }} </label>
                            <div class="col-lg-8">
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.PTN_PHONG_THI_NGHIEM"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    [(ngModel)]="extendModelSearch.idPhongThiNghiem"
                                    [isDisabled]="false"
                                >
                                </asc-select>
                            </div>
                        </div> -->
                        <!-- <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">{{ 'SCI.BBKH.DE_TAI' | translate }} </label>
                            <div class="col-lg-8">
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.KHCN_DE_TAI"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    [(ngModel)]="extendModelSearch.idDeTai"
                                    [isDisabled]="false"
                                    mode="isMultiple"
                                >
                                </asc-select>
                            </div>
                        </div> -->
                        <!-- <div class="form-group m-form__group row">
                            <label class="col-lg-4 col-form-label">{{ 'SCI.BBKH.PHAM_VI' | translate }} </label>
                            <div class="col-lg-8">
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.DM_PHAM_VI_BAI_BAO"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    [(ngModel)]="extendModelSearch.idDeTai"
                                    [isDisabled]="false"
                                >
                                </asc-select>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <ng-container *ngIf="rolesExtends.isExcel">
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_df" (click)="onExportExcel()">
                            <div [innerHTML]="'download.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.EXCEL' | translate }}</span>
                        </button>
                    </li>
                </ng-container>

                <ng-container *ngIf="isQuanLy &&  rolesExtends.isDuyet">
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_add" [disabled]="selectionIds.length < 1" (click)="onDuyetKhongDuyet()">
                            <span class="text">{{ 'PTN.DUYET' | translate }}/{{ 'PTN.KHONG_DUYET' | translate }}</span>
                        </button>
                    </li>
                </ng-container>
                <ng-container *ngIf="roles.isCreate">
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_add" (click)="addHandler()">
                            <div [innerHTML]="'plus.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.ADD' | translate }}</span>
                        </button>
                    </li>
                </ng-container>
                <ng-container *ngIf="roles.isDelete">
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_remove" (click)="removeSelectedHandler()" [disabled]="selectionIds.length < 1">
                            <div [innerHTML]="'trash.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.DELETE' | translate }}</span>
                        </button>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <ng-template #template let-anchor>
            <span>{{ anchor.nativeElement.innerText }}</span>
        </ng-template>

        <div kendoTooltip showOn="none" [tooltipTemplate]="template" filter=".k-grid td" (mouseover)="showTooltip($event)">
            <div class="grid-wrapper" [ngStyle]="{ 'height.px': pageHeight }">
                <kendo-grid
                    [data]="gridView$ | async"
                    [pageSize]="gridState.take"
                    [skip]="gridState.skip"
                    [pageable]="pageConfig"
                    [resizable]="true"
                    [columnMenu]="true"
                    [sortable]="true"
                    [selectable]="true"
                    kendoGridSelectBy="id"
                    [sort]="gridState.sort"
                    [style.height]="'100%'"
                    (selectionChange)="selectRow($event)"
                    (dataStateChange)="onStateChange($event)"
                >
                    <kendo-grid-checkbox-column
                        showSelectAll="true"
                        width="40"
                        [columnMenu]="false"
                        class="text-center"
                        [headerStyle]="{ 'text-align': 'center' }"
                    ></kendo-grid-checkbox-column>
                    <kendo-grid-column
                        [title]="'LB.ACTION' | translate"
                        class="text-center"
                        width="90"
                        [columnMenu]="false"
                        *ngIf="isMain == true"
                        [headerStyle]="{ 'text-align': 'center' }"
                        [hidden]="(roles.isUpdate || roles.isDelete) ? false : true"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <nz-button-group *ngIf="isQuanLy === true  || (dataItem.idTrangThaiDuyet !== trangThaiDuyet && dataItem.createdById === userId)">
                                <button nz-button nz-dropdown class="btn-light" [nzDropdownMenu]="menu" nzPlacement="right">
                                    <div [innerHTML]="'commode1.svg' | vnuIcon | safeHtml: 'html'"></div>
                                </button>
                            </nz-button-group>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <div class="m-dropdown__wrapper menu-dropdown-table">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            {{ 'LB.ACTION' | translate }}
                                                        </span>
                                                    </li>
                                                    <ng-container *ngIf="roles.isUpdate">
                                                        <li class="m-nav__item">
                                                            <a (click)="editHandler(dataItem)" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-edit"></i>
                                                                <span class="m-nav__link-text"> {{ 'BTN.EDIT' | translate }}</span>
                                                            </a>
                                                        </li>
                                                    </ng-container>
                                                    <ng-container *ngIf="roles.isDelete">
                                                        <li class="m-nav__item">
                                                            <a (click)="removeHandler(dataItem)" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-delete-1"></i>
                                                                <span class="m-nav__link-text"> {{ 'BTN.DELETE' | translate }}</span>
                                                            </a>
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nz-dropdown-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                        [title]="'LB.STT' | translate"
                        width="60"
                        [columnMenu]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <div class="text-center">
                                {{ rowIndex + 1 }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="maBaiBaoKhoaHoc" [title]="'SCI.BBKH.MA' | translate" width="150">
                    </kendo-grid-column>

                    <kendo-grid-column
                        [columnMenu]="false"
                        field="tenBaiBaoKhoaHoc"
                        [title]="'SCI.BBKH.TEN' | translate"
                        width="300"
                    ></kendo-grid-column>
                    <kendo-grid-column
                        [columnMenu]="false"
                        field="tenTapChi"
                        [title]="'SCI.BBKH.TAP_CHI' | translate"
                        width="200"
                    ></kendo-grid-column>
                    <kendo-grid-column
                        [columnMenu]="false"
                        field="tenCoQuan"
                        [title]="'SCI.BBKH.DON_VI' | translate"
                        width="300"
                    ></kendo-grid-column>
                    <kendo-grid-column
                        [columnMenu]="false"
                        field="namCongBo"
                        [title]="'SCI.BBKH.NAM_CONG_BO' | translate"
                        width="120"
                        [headerStyle]="{ 'text-align': 'center' }"
                    >
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="text-center" *ngIf="dataItem.namCongBo != null && dataItem.namCongBo > 0">
                            {{ dataItem.namCongBo }}
                        </div>
                    </ng-template>
                </kendo-grid-column>
                    <kendo-grid-column
                        [title]="'NV.TRANG_THAI' | translate"
                        field="tenTrangThaiKHCN"
                        [width]="120"
                        [columnMenu]="false"
                        [sortable]="false"
                        [headerStyle]="{ 'text-align': 'center' }"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <div class="text-center" [ngClass]="dataItem.cssClass">
                                {{ dataItem.tenTrangThaiKHCN }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <ng-template kendoGridDetailTemplate let-dataItem>
                        <section>
                            <nz-tabset>
                                <nz-tab [nzTitle]="'SCI.BBKH.THONG_TIN_CHUNG' | translate">
                                    <div class="row" *ngIf="dataItem.maBaiBaoKhoaHoc != null && dataItem.maBaiBaoKhoaHoc != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.MA' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.maBaiBaoKhoaHoc }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tenBaiBaoKhoaHoc != null && dataItem.tenBaiBaoKhoaHoc != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.TEN' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.tenBaiBaoKhoaHoc }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tenTapChi != null && dataItem.tenTapChi != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.TAP_CHI' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.tenTapChi }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.isTrongNuoc != null">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BCKH.NGUON_GOC' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{
                                                        dataItem?.isTrongNuoc
                                                            ? ('SCI.BCKH.TRONG_NUOC' | translate)
                                                            : ('SCI.BCKH.NUOC_NGOAI' | translate)
                                                    }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tenDeTai != null && dataItem.tenDeTai != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.DE_TAI' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.tenDeTai }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tenCoQuan != null && dataItem.tenCoQuan != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.DON_VI' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.tenCoQuan }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.soTrichDan != null && dataItem.soTrichDan != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.SO_TRICH_DAN' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.soTrichDan }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.tapSo != null && dataItem.tapSo != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.TAP_SO' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.tapSo }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.viTriTrang != null && dataItem.viTriTrang != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.VI_TRI_TRANG' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.viTriTrang }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.namCongBo != null && dataItem.namCongBo != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.NAM_CONG_BO' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.namCongBo }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataItem.ghiChu != null && dataItem.ghiChu != ''">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-2 col-form-label"
                                                    >{{ 'SCI.BBKH.GHI_CHU' | translate }}
                                                    <span class="float-right">:</span>
                                                </label>
                                                <label class="col-10 col-form-label lb-bold-info">
                                                    {{ dataItem?.ghiChu }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </nz-tab>
                                <nz-tab [nzTitle]="'SCI.BBKH.PTN' | translate" *ngIf="dataItem.suDungPhongThiNghiems.length > 0">
                                    <div class="grid-wrapper grid-wrapper-border">
                                        <kendo-grid [data]="dataItem.suDungPhongThiNghiems" [resizable]="true" [columnMenu]="false">
                                            <kendo-grid-column [title]="'LB.STT' | translate" [width]="60" [columnMenu]="false">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    <div class="text-center">
                                                        {{ rowIndex + 1 }}
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [width]="200" [title]="'SCI.PTN.MA' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    {{ dataItem.maPhongThiNghiem }}
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [title]="'SCI.PTN.TEN' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    {{ dataItem.tenPhongThiNghiem }}
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [headerStyle]="{ 'text-align': 'center' }" [width]="200" [title]="'SCI.PTN.MUC_DO_SU_DUNG' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    <div class="text-center">
                                                        {{ dataItem.mucDoSuDung + '%' }}
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column>
                                        </kendo-grid>
                                    </div>
                                </nz-tab>
                                <nz-tab
                                    [nzTitle]="'NV.THANH_VIEN' | translate"
                                    *ngIf="dataItem.thanhViens.length > 0 || dataItem.thanhVienNgoais.length > 0"
                                >
                                    <section *ngIf="dataItem.thanhViens.length > 0">
                                        <label class="mt-3 font-weight-bold"> {{ 'SCI.BBKH.TV_THUOC_DHQG' | translate }} </label>
                                        <kendo-grid [data]="dataItem.thanhViens" [resizable]="true" [columnMenu]="false">
                                            <kendo-grid-column [title]="'LB.STT' | translate" [width]="60" [columnMenu]="false">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    <div class="text-center">
                                                        {{ rowIndex + 1 }}
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [width]="200" [title]="'NV.MA_NHAN_SU' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    {{ dataItem.maNhanSu }}
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [width]="350" [title]="'NV.FULL_NHAN_SU' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    <div class="dark">
                                                        <b>{{ dataItem.hoTenNhanSu }}</b>
                                                    </div>
                                                    <div class="grid-size12">
                                                        {{
                                                            (dataItem.tenChucVu ? dataItem.tenChucVu : '') +
                                                                (dataItem.tenChucVu && dataItem.tenChucDanh ? ' - ' : '') +
                                                                (dataItem.tenChucDanh ? dataItem.tenChucDanh : '')
                                                        }}
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                                [headerStyle]="{ 'text-align': 'center' }"
                                                [width]="150"
                                                [title]="'NV.TEN_GIOI_TINH' | translate"
                                            >
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    <div class="text-center">
                                                        {{ dataItem.tenGioiTinh }}
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                                [headerStyle]="{ 'text-align': 'center' }"
                                                [width]="150"
                                                [title]="'NV.NGAY_SINH' | translate"
                                            >
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    <div class="text-center">
                                                        {{ dataItem.ngaySinh | date: 'dd/MM/yyyy' }}
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                                [columnMenu]="false"
                                                field="email"
                                                [title]="'LB.EMAIL' | translate"
                                                width="180"
                                                [sortable]="false"
                                            >
                                            </kendo-grid-column>

                                            <kendo-grid-column
                                                [columnMenu]="false"
                                                field="soDienThoai"
                                                [title]="'LB.HRM.SO_DIEN_THOAI' | translate"
                                                width="120"
                                                [sortable]="false"
                                                [headerStyle]="{ 'text-align': 'center' }"
                                            >
                                                <ng-template kendoGridCellTemplate let-dataItem>
                                                    <div class="text-center">
                                                        {{ dataItem.soDienThoai }}
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [width]="150" [title]="'NV.VAI_TRO' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    {{ dataItem.tenVaiTro }}
                                                </ng-template>
                                            </kendo-grid-column>
                                        </kendo-grid>
                                    </section>
                                    <section *ngIf="dataItem.thanhVienNgoais.length > 0">
                                        <label class="mt-3 font-weight-bold"> {{ 'SCI.BBKH.TV_NGOAI_DHQG' | translate }} </label>
                                        <kendo-grid [data]="dataItem.thanhVienNgoais" [resizable]="true" [columnMenu]="false">
                                            <kendo-grid-column [title]="'LB.STT' | translate" [width]="60" [columnMenu]="false">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    <div class="text-center">
                                                        {{ rowIndex + 1 }}
                                                    </div>
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [width]="200" [title]="'NV.MA_NHAN_SU' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    {{ dataItem.maThanhVien }}
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [width]="350" [title]="'NV.FULL_NHAN_SU' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    {{ dataItem.hoTenThanhVien }}
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [width]="200" [title]="'SCI.DON_VI' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    {{ dataItem.donVi }}
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [width]="200" [title]="'SCI.TRINH_DO_CHUYEN_MON' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    {{ dataItem.trinhDoChuyenMon }}
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column [width]="150" [title]="'NV.VAI_TRO' | translate">
                                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                                    {{ dataItem.tenVaiTro }}
                                                </ng-template>
                                            </kendo-grid-column>
                                        </kendo-grid>
                                    </section>
                                </nz-tab>
                            </nz-tabset>
                        </section>
                    </ng-template>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>
<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>
