<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{ 'LB.SB.FIELD' | translate }}
                </label>
                <asc-select
                    [modeOfDropDowList]="dropdownListEnum.LINH_VUC"
                    [placeHolder]="'LB.SELECT' | translate"
                    formControlName="idLinhVuc"
                >
                </asc-select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.GIAI_THUONG_KHCN.PRODUCT' | translate }}</label>
                <input type="text" class="m-input form-control" formControlName="sanPham" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.GIAI_THUONG_KHCN.FORM' | translate }} <span class="text-danger">(*)</span> </label>
                <input type="text" class="m-input form-control" formControlName="hinhThucVaNoiDung" />
                <app-field-error [control]="form.get('hinhThucVaNoiDung')"></app-field-error>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.GIAI_THUONG_KHCN.CONTENT' | translate }} <span class="text-danger">(*)</span> </label>
                <input type="text" class="m-input form-control" formControlName="noiDungGiaiThuong" />
                <app-field-error [control]="form.get('noiDungGiaiThuong')"></app-field-error>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.GIAI_THUONG_KHCN.ORGANIZATION' | translate }}</label>
                <input type="text" class="m-input form-control" formControlName="toChuc" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label> {{ 'SB.GIAI_THUONG_KHCN.YEAR' | translate }} </label>
                <nz-input-number [nzMin]="1" [nzStep]="1" formControlName="namTangThuong" style="width: 100%"> </nz-input-number>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{ 'LB.NOTE' | translate }}
                </label>
                <textarea class="form-control" formControlName="ghiChu"></textarea>
            </div>
        </div>
    </div>
    <div class="text-right border-form-footer">
        <button type="button" (click)="closeForm()" class="btn_custom btn_remove btn_close mr-1">{{ 'BTN.CANCEL' | translate }}</button>
        <button type="submit" class="btn_custom btn_add">{{ 'BTN.SAVE' | translate }}</button>
    </div>
</form>
