<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <section>
        <nz-tabset>
            <nz-tab [nzTitle]="'SCI.SCK.THONG_TIN_CHUNG' | translate">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group m-form__group">
                            <label>
                                {{ 'SCI.SCK.MA_SO' | translate }}
                            </label>
                            <div>
                                <input class="form-control" formControlName="maSachChuyenKhao" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group m-form__group">
                            <label>
                                {{ 'SCI.SCK.TEN' | translate }}
                            </label>
                            <div>
                                <input class="form-control" formControlName="tenSachChuyenKhao" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group m-form__group">
                            <label> {{ 'SCI.SCK.LOAI_SACH_CHUYEN_KHAO' | translate }} </label>
                            <div>
                                <div>
                                    <nz-select
                                        nzShowSearch
                                        [nzPlaceHolder]="'LB.SELECT' | translate"
                                        nzAllowClear
                                        formControlName="isTiengViet"
                                    >
                                        <nz-option [nzLabel]="'SCI.SCK.TIENG_VIET' | translate" [nzValue]="true"> </nz-option>
                                        <nz-option [nzLabel]="'SCI.SCK.TIENG_NUOC_NGOAI' | translate" [nzValue]="false"> </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group m-form__group">
                            <label>
                                {{ 'SCI.SCK.DE_TAI' | translate }}
                            </label>
                            <div>
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.KHCN_DE_TAI"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    formControlName="idDeTai"
                                    [isDisabled]="isDisabled"
                                >
                                </asc-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group m-form__group">
                            <label> {{ 'SCI.SCK.NHA_XUAT_BAN' | translate }} </label>
                            <div>
                                <input class="form-control" formControlName="nhaXuatBan" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group m-form__group">
                            <label>
                                {{ 'SCI.SCK.DON_VI' | translate }}
                            </label>
                            <div>
                                <!-- <app-select-user-tree
                                    [placeholder]="'LB.HRM.CO_QUAN' | translate"
                                    formControlName="idCoQuan"
                                    [isMultiple]="false"
                                ></app-select-user-tree> -->
                                <!-- <ng-container *ngIf="isQuanLy; else personlTemplate1" >
                                    <div>
                                        <app-select-user-tree
                                            [placeholder]="'LB.HRM.CO_QUAN' | translate"
                                            formControlName="idCoQuan"
                                            [isMultiple]="false"
                                        ></app-select-user-tree>
                                    </div>
                                </ng-container>
                                <ng-template #personlTemplate1>
                                    <div>
                                        <input [value]="tenCoQuanCap1" disabled class="form-control"/>
                                    </div>
                                </ng-template> -->
                                <div>
                                    <input [value]="tenCoQuanCap1" disabled class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group m-form__group">
                            <label>
                                {{ 'SCI.SCK.NAM_XUAT_BAN' | translate }}
                            </label>
                            <div>
                                <asc-select
                                    [modeOfDropDowList]="dropdownListEnum.NAM"
                                    [placeHolder]="'LB.SELECT' | translate"
                                    formControlName="namXuatBan"
                                    [isDisabled]="isDisabled"
                                >
                                </asc-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group m-form__group">
                            <label>
                                {{ 'SCI.SCK.GHI_CHU' | translate }}
                            </label>
                            <div>
                                <textarea class="form-control" formControlName="ghiChu" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-12">
                        <div class="form-group m-form__group">
                            <label>
                                {{ 'LB.ATTACH_FILE' | translate }}
                            </label>
                            <khcn-upload
                                [folderName]="folder.KHCN_KHOA_HOC_CONG_NGHE"
                                (fileInput)="onSelectFile($event)"
                                [file]="fileInput"
                                [multiple]="true"
                            >
                            </khcn-upload>
                        </div>
                    </div> -->
                </div>
            </nz-tab>
            <nz-tab [nzTitle]="'SCI.BBKH.PTN' | translate">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form- m-form__group">
                            <app-chon-phong-thi-nghiem
                                (changedData)="receiveDataPhongThiNghiem($event)"
                                [idThamChieu]="form.get('id').value"
                                [suDungPTN]="this.fsuDung"
                            >
                            </app-chon-phong-thi-nghiem>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab [nzTitle]="'NV.THANH_VIEN' | translate">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group m-form__group">
                            <app-chon-thanh-vien
                                (changedData)="receiveDataThanhVien($event)"
                                [idThamChieu]="form.get('id').value"
                                [thanhPhanThamGia]="this.fthanhPhanThamGia"
                            >
                            </app-chon-thanh-vien>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group m-form__group">
                            <chon-thanh-vien-ngoai
                                (changedData)="receiveDataThanhVienNgoai($event)"
                                [idThamChieu]="form.get('id').value"
                                [thanhPhanThamGiaNgoai]="this.fthanhPhanThamGiaNgoai"
                            >
                            </chon-thanh-vien-ngoai>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </section>
    <div class="text-right border-form-footer">
        <button type="button" (click)="closeForm()" class="btn_custom btn_df mr-1">{{ 'BTN.CANCEL' | translate }}</button>
        <button type="submit" class="btn_custom btn_add">{{ 'BTN.SAVE' | translate }}</button>
    </div>
</form>
