<div class="search-backdrop" (click)="openAdvanceSearch()"></div>
<div class="m-portlet m-portlet--mobile mb-0">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption m-portlet__head-caption-title">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ tabName }}
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-caption"></div>

        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <!-- <li class="m-portlet__nav-item" *ngIf="roles.isCreate">
                    <button class="btn_custom btn_add" (click)="onQuyetDinhTuyenDung()"
                        [disabled]="selectionIds.length < 1">
                        <span class="text">{{ 'RECRUITMENT.TEXT.22' | translate }}</span>
                    </button>
                </li> -->
                <li class="m-portlet__nav-item" *ngIf="roles.isUpdate">
                    <button class="btn_custom btn_df" (click)="onExportExcel()">
                        <div [innerHTML]="'download.svg' | vnuIcon | safeHtml: 'html'"></div>
                        <span class="text">{{ 'BTN.EXCEL' | translate }}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="m-portlet__body">
        <div class="box-search-body px-3">
            <div class="pt-3 row">
                <div class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label>{{ 'LB.SEARCH' | translate }}</label>
                        <div class="m-input-icon m-input-icon--left m-input-icon--right dropdown-search-advance"
                            style="width: 100%">
                            <input type="text" class="form-control m-input"
                                [placeholder]="'LB.SEARCH_PLACEHOLDER' | translate"
                                [(ngModel)]="modelFilter.keyword" (keydown.enter)="onSearchHandler()" />
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-search"></i>
                                </span>
                            </span>
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span (click)="openAdvanceSearch()" class="dropbtn-search-advance">
                                    <i class="la la-caret-down"></i>
                                </span>
                            </span>
                            <div id="myDropdown" class="dropdown-content-search-advance w-200"
                                style="left: 0px!important;"
                                [ngClass]="this.searchAdvance ? 'show-search-advance' : ''" *ngIf="openFirstTime">
                                <div class="custom-search-advance m-form">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">{{ 'LB.HRM.MA_NHAN_SU' | translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <input type="text" class="m-input form-control custom-input"
                                                placeholder="Mã nhân sự" [(ngModel)]="modelFilter.maNhanSu" />
                                        </div>
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.HO_TEN' | translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <input type="text" class="m-input form-control custom-input"
                                                placeholder="Họ tên" [(ngModel)]="modelFilter.hoTen" />
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">{{ 'LB.HRM.NGAY_SINH' | translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <nz-date-picker [(ngModel)]="modelFilter.ngaySinh" nzFormat="dd/MM/yyyy"
                                                [nzPlaceHolder]="'LB.SELECT' | translate" style="width: 100%">
                                            </nz-date-picker>
                                        </div>
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.GIOI_TINH' | translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <asc-select [modeOfDropDowList]="dropdownListEnum.GIOI_TINH"
                                                [placeHolder]="'LB.SELECT' | translate"
                                                [(ngModel)]="modelFilter.idGioiTinh">
                                            </asc-select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.SO_DIEN_THOAI' |
                                            translate }} </label>
                                        <div class="col-lg-4">
                                            <input type="text" class="m-input form-control custom-input"
                                                placeholder="Số điện thoại" [(ngModel)]="modelFilter.soDienThoai" />
                                        </div>
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.LOAI_NHAN_SU' | translate
                                            }} </label>
                                        <div class="col-lg-4">
                                            <asc-select [modeOfDropDowList]="dropdownListEnum.LOAI_NHAN_SU"
                                                [placeHolder]="'LB.SELECT' | translate"
                                                [(ngModel)]="modelFilter.loaiNhanSuId">
                                            </asc-select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.LOAI_HOP_DONG' |
                                            translate }} </label>
                                        <div class="col-lg-4">
                                            <asc-select [modeOfDropDowList]="dropdownListEnum.LOAI_HOP_DONG"
                                                [placeHolder]="'LB.SELECT' | translate"
                                                [(ngModel)]="modelFilter.loaiHopDongId">
                                            </asc-select>
                                        </div>
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.CHUC_VU' | translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <asc-select [modeOfDropDowList]="dropdownListEnum.CHUC_VU"
                                                [placeHolder]="'LB.SELECT' | translate"
                                                [(ngModel)]="modelFilter.chucVuId">
                                            </asc-select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.CHUC_DANH_KHOA_HOC' |
                                            translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <asc-select [modeOfDropDowList]="dropdownListEnum.CHUC_DANH_KHOA_HOC"
                                                [placeHolder]="'LB.SELECT' | translate"
                                                [(ngModel)]="modelFilter.chucDanhId">
                                            </asc-select>
                                        </div>
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.NGACH_CONG_CHUC' |
                                            translate }} </label>
                                        <div class="col-lg-4">
                                            <asc-select [modeOfDropDowList]="dropdownListEnum.NGACH_CONG_CHUC"
                                                [placeHolder]="'LB.SELECT' | translate"
                                                [(ngModel)]="modelFilter.ngachId">
                                            </asc-select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.QUOC_TICH' | translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <asc-select [modeOfDropDowList]="dropdownListEnum.QUOC_TICH"
                                                [placeHolder]="'LB.SELECT' | translate"
                                                [(ngModel)]="modelFilter.quocTichId">
                                            </asc-select>
                                        </div>
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.DAN_TOC' | translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <asc-select [modeOfDropDowList]="dropdownListEnum.DAN_TOC"
                                                [placeHolder]="'LB.SELECT' | translate"
                                                [(ngModel)]="modelFilter.danTocId">
                                            </asc-select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label"> {{ 'LB.HRM.TON_GIAO' | translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <asc-select [modeOfDropDowList]="dropdownListEnum.TON_GIAO"
                                                [placeHolder]="'LB.SELECT' | translate"
                                                [(ngModel)]="modelFilter.tonGiaoId">
                                            </asc-select>
                                        </div>
                                        <label class="col-lg-2 col-form-label">
                                            {{ 'LB.HRM.CO_QUAN' | translate }}
                                        </label>
                                        <div class="col-lg-4">
                                            <app-select-user-tree [placeholder]="'LB.HRM.CO_QUAN' | translate"
                                                [(ngModel)]="modelFilter.coQuanId"></app-select-user-tree>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row text-right">
                                        <div class="col-12 text-right">
                                            <div class="btn-actions">
                                                <button class="btn_custom btn_add mr-1" (click)="onSearchHandler()">
                                                    <span class="text">
                                                        {{ 'BTN.SEARCH' | translate }}
                                                    </span>
                                                </button>
                                                <button class="btn_custom btn_df" (click)="resetHandler()">
                                                    <span class="text">
                                                        {{ 'BTN.RESET' | translate }}
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label> {{ 'RECRUITMENT.KE_HOACH.KHTD' | translate }} <span class="text-danger">
                                (*)</span></label>
                        <div>
                            <asc-select [modeOfDropDowList]="dropdownListEnum.KE_HOACH_TUYEN_DUNG_BD"
                                [placeHolder]="'LB.SELECT' | translate" [(ngModel)]="modelFilter.idKeHoach">
                            </asc-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group m-form__group">
                        <label> {{ 'LB.STATUS' | translate }}</label>
                        <div>
                            <nz-select nzShowSearch [nzPlaceHolder]="'LB.SELECT' | translate" nzAllowClear
                                [(ngModel)]="modelFilter.trangThaiDuyet">
                                <nz-option [nzLabel]="'LB.HRM.CHO_DUYET' | translate" [nzValue]="1">
                                </nz-option>
                                <nz-option [nzLabel]="'LB.HRM.DA_DUYET' | translate" [nzValue]="2">
                                </nz-option>
                                <nz-option [nzLabel]="'LB.HRM.TAT_CA' | translate" [nzValue]="0">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 pl-0">
                    <div class="form-group m-form__group text-right">
                        <label>&nbsp;</label>
                        <div class="btn-actions">
                            <button type="submit" class="btn_custom btn_add mr-1" (click)="onSearchHandler()">
                                <span class="text">
                                    {{ 'BTN.SEARCH' | translate }}
                                </span>
                            </button>
                            <button type="button" class="btn_custom btn_df" (click)="resetHandler()">
                                <span class="text">
                                    {{ 'BTN.RESET' | translate }}
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #template let-anchor>
            <span>{{ anchor.nativeElement.innerText }}</span>
        </ng-template>

        <div kendoTooltip showOn="none" [tooltipTemplate]="template" filter=".k-grid td"
            (mouseover)="showTooltip($event)">
            <div class="grid-wrapper no-hover" [ngStyle]="{ 'height.px': pageHeight }">
                <kendo-grid [data]="gridView$ | async" [pageSize]="gridState.take" [skip]="gridState.skip"
                    [loading]="isLoading" [pageable]="pageConfig" [resizable]="true" [columnMenu]="true"
                    [sortable]="true" [sort]="gridState.sort" [style.height]="'100%'" kendoGridSelectBy="id"
                    [selectedKeys]="selectionIds" (dataStateChange)="onStateChange($event)" [selectable]="true"
                    (selectionChange)="selectRow($event)">
                    <kendo-grid-checkbox-column showSelectAll="true" width="50" [columnMenu]="false" [headerStyle]="{'text-align': 'center'}" class="text-center">
                    </kendo-grid-checkbox-column>
                    <kendo-grid-column [title]="'LB.ACTION' | translate" class="text-center" width="90" [headerStyle]="{'text-align': 'center'}"
                        [columnMenu]="false"   *ngIf="isDeXuatDuyet">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <nz-button-group>
                                <button nz-button nz-dropdown class="btn-light" [nzDropdownMenu]="menu"
                                    nzPlacement="right">
                                    <div [innerHTML]="'commode1.svg' | vnuIcon | safeHtml: 'html'"></div>
                                </button>
                            </nz-button-group>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <div class="m-dropdown__wrapper menu-dropdown-table">
                                    <span
                                        class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            {{ 'LB.ACTION' | translate }}
                                                        </span>
                                                    </li>
                                                    <li class="m-nav__item"  [HideIfUnauthorized]="listRoleOption.HRM_0004">
                                                        <a href="javascript:void(0)"
                                                            (click)="showLinkDuyetHoSoNhanSu(dataItem.id)"
                                                            class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-user"></i>
                                                            <span class="m-nav__link-text">{{ 'LB.HRM.NHAP_THAY_UNG_VIEN' |
                                                                translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item" [HideIfUnauthorized]="listRoleOption.HRM_0004">
                                                        <a href="javascript:void(0)" class="m-nav__link"
                                                            (click)="viewChange(dataItem.id)">
                                                            <i class="m-nav__link-icon flaticon-edit"></i>
                                                            <span class="m-nav__link-text">
                                                                {{ 'Xem thay đổi' | translate }}
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item" *ngIf="roles.isUpdate">
                                                        <a href="javascript:void(0)" class="m-nav__link"
                                                            (click)="onApprove(dataItem, true)">
                                                            <i class="m-nav__link-icon flaticon-paper-plane"></i>
                                                            <span class="m-nav__link-text">
                                                                {{ 'BTN.DUYET' | translate }}
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item" *ngIf="roles.isUpdate">
                                                        <a href="javascript:void(0)" class="m-nav__link"
                                                            (click)="onApprove(dataItem, false)">
                                                            <i class="m-nav__link-icon flaticon-circle"></i>
                                                            <span class="m-nav__link-text">
                                                                {{ 'BTN.KHONG_DUYET' | translate }}
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <!-- <li class="m-nav__item" *ngIf="roles.isCreate">
                                                        <a href="javascript:void(0)" class="m-nav__link"
                                                            (click)="taoHopDong(dataItem)">
                                                            <i class="m-nav__link-icon flaticon-plus"></i>
                                                            <span class="m-nav__link-text">
                                                                {{ 'RECRUITMENT.HD.TAO_MOI' | translate }}
                                                            </span>
                                                        </a>
                                                    </li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nz-dropdown-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [title]="'LB.STT' | translate" width="60" [columnMenu]="false" [headerStyle]="{'text-align': 'center'}">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <div class="text-center">
                                {{ rowIndex + 1 }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="soLuongDuyet" [title]="'BTN.APPROVE' | translate" [width]="70"
                        [columnMenu]="false" [sortable]="false" class="text-center" [headerStyle]="{'text-align': 'center'}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <ng-container *ngIf="isDeXuatDuyet; else xemDuyet">
                                <div class="dark">
                                    <a href="javascript:void(0)" (click)="viewChange(dataItem.id)"
                                    class="font-weight-bold" style="color: blue;">
                                        {{ dataItem.soLuongDuyet }}
                                    </a>
                                </div>
                            </ng-container>
                            <ng-template #xemDuyet>
                                <div class="dark">
                                    <a href="javascript:void(0)"
                                        class="btn btn-sm btn-outline-success m-btn m-btn--icon mr-1">
                                        {{ dataItem.soLuongDuyet }}
                                    </a>
                                </div>
                            </ng-template>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [columnMenu]="false" field="maNhanSu" [title]="'LB.STAFF_CODE' | translate"
                        width="110">
                    </kendo-grid-column>
                    <kendo-grid-column field="userName" [title]="'LB.USERNAME' | translate" [width]="100"
                        [columnMenu]="false">
                    </kendo-grid-column>
                    <kendo-grid-column field="ten" class="text-left" [title]="'LB.FULLNAME' | translate" width="200"
                        [columnMenu]="false">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="dark">
                                <b>{{ dataItem.hoDem + ' ' + dataItem.ten }}</b>
                            </div>
                            <div class="grid-size12">
                                {{
                                (dataItem.tenChucVu ? dataItem.tenChucVu : '') +
                                (dataItem.tenChucVu && dataItem.tenChucDanh ? ' - ' : '') +
                                (dataItem.tenChucDanh ? dataItem.tenChucDanh : '')
                                }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="tenGioiTinh" [width]="50" [title]="'LB.GENDER' | translate"
                        [columnMenu]="false" class="text-center">
                    </kendo-grid-column>
                    <kendo-grid-column field="ngaySinh" [width]="100" [title]="'LB.BIRTHDAY' | translate"
                        [columnMenu]="false" class="text-center">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{ dataItem.ngaySinh | date: 'dd/MM/yyyy' }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="tenCoQuan" [title]="'LB.HRM.CO_QUAN' | translate" [width]="200"
                        [columnMenu]="false" [sortable]="false">
                    </kendo-grid-column>
                    <kendo-grid-column field="nguoiNhap" [title]="'LB.HRM.NGUOI_NHAP' | translate"
                        [width]="200" [columnMenu]="false" [sortable]="false">
                    </kendo-grid-column>
                    <kendo-grid-column field="ngayNhap" [title]="'LB.HRM.NGAY_NHAP' | translate"
                        [width]="100" [columnMenu]="false" [sortable]="false" class="text-center">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{ dataItem.ngayNhap | date: 'dd/MM/yyyy' }}
                        </ng-template>
                    </kendo-grid-column>
                    <!-- <kendo-grid-column field="ngayDeXuat" [title]="'LB.HRM.NGAY_DE_XUAT' | translate" [width]="120"
                        [sortable]="false" [columnMenu]="false">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{ dataItem.ngayDeXuat | date: 'dd/MM/yyyy' }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="nguoiDuyet" [title]="'LB.HRM.NGUOI_DUYET' | translate" [width]="150"
                        [sortable]="false" [columnMenu]="false">
                    </kendo-grid-column>
                    <kendo-grid-column field="ngayDuyet" [title]="'LB.HRM.NGAY_DUYET' | translate" [width]="120"
                        [sortable]="false" [columnMenu]="false">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{ dataItem.ngayDuyet | date: 'dd/MM/yyyy' }}
                        </ng-template>
                    </kendo-grid-column> -->
                </kendo-grid>
            </div>
        </div>
    </div>
</div>

<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>