<div class="m-portlet mb-0">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title m-portlet__head-caption-title">
                <h3 class="m-portlet__head-text">
                    {{ 'HR.MENU.LUONG' | translate }}
                    <small *ngIf="model?.idTrangThaiDuLieu === trangThaiDuLieuEnum.DE_XUAT"
                        class="text-normal text-danger font-italic">
                        ({{ 'HR.MES.15' | translate }})
                    </small>
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <ng-container *ngIf="roles.isUpdate">
                    <li class="m-portlet__nav-item">
                        <ng-container *ngIf="model && model.compareData && !isTraCuuNhanSu">
                            <button class="btn_custom btn_add" nz-popover [nzPopoverTitle]="titleTemplate"
                                [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click"
                                [(nzPopoverVisible)]="visible">
                                <div [innerHTML]="'hummer.svg' | vnuIcon | safeHtml: 'html'"></div>
                                <span class="text">{{ 'BTN.COMPARE' | translate }}</span>
                            </button>
                        </ng-container>
                        <ng-template #titleTemplate><i nz-icon nzType="field-time"></i> {{ 'LB.HRM.LICH_SU_CHINH_SUA' |
                            translate }}</ng-template>
                        <ng-template #contentTemplate>
                            <app-thong-tin-luong-compare [compareData]="model" (closePopover)="closePopover()">
                            </app-thong-tin-luong-compare>
                        </ng-template>
                    </li>
                </ng-container>

                <ng-container
                    *ngIf="isDuyetLyLichNhanSu && model?.idTrangThaiDuLieu === trangThaiDuLieuEnum.DE_XUAT && !model?.compareData">
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_update" (click)="onApprove(true)">
                            <div [innerHTML]="'sending.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.DUYET' | translate }}</span>
                        </button>
                    </li>
                    <li class="m-portlet__nav-item">
                        <button class="btn_custom btn_df" (click)="onApprove(false)">
                            <div [innerHTML]="'close.svg' | vnuIcon | safeHtml: 'html'"></div>
                            <span class="text">{{ 'BTN.KHONG_DUYET' | translate }}</span>
                        </button>
                    </li>
                </ng-container>

                <li class="m-portlet__nav-item" *ngIf="isCapNhatLuong && isTraCuuNhanSu">
                    <button class="btn_custom btn_add" (click)="showFormCapNhatLuong()">
                        <div [innerHTML]="'update.svg' | vnuIcon | safeHtml: 'html'"></div>
                        <span class="text">{{ 'BTN.UPDATE' | translate }}</span>
                    </button>
                </li>
                <li class="m-portlet__nav-item">
                    <app-export-ho-so-nhan-su [nhanSuId]="nhanSuId"></app-export-ho-so-nhan-su>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body p-3">
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.NGAY_HUONG_CHE_DO' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.ngayHuongHeSoLuong | date: 'dd/MM/yyyy'
                        }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.SO_QUYET_DINH' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.soQuyetDinh }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.NHOM_NGACH' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.tenNhomNgach }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.NGACH' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.tenNgach }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.MA_NGACH' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.maNgach }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.BAC_LUONG' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.bacLuong }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.HE_SO_LUONG' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.heSoLuong }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.VUOT_KHUNG' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.vuotKhung }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.PHU_CAP_NGHE_NGHIEP' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.phuCapNgheNghiep }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.PHU_CAP_CHUC_VU' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.phuCapChucVu }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-6 col-form-label">{{ 'HR.LUONG.NGAY_TANG_LUONG_TIEP_THEO' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-6 col-form-label lb-bold-info">{{ model?.ngayTangLuongTiepTheo | date:
                        'dd/MM/yyyy' }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <div class="row">
                    <label class="col-md-3 col-6 col-form-label">{{ 'LB.NOTE' | translate }}<span
                            class="float-right">:</span></label>
                    <label class="col-md-9 col-6 col-form-label lb-bold-info">{{ model?.ghiChu }}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<app-lich-su-luong></app-lich-su-luong>
<div class="k-overlay" *ngIf="opened"></div>